/**
 * 按钮
 */
.ui-btn{
    height: 26px;
    line-height: 26px;
    padding: 0 11px;
    min-width: 48px;
    display: inline-block;
    position: relative;
    text-align: center;
    border: 0 none;
    background: #fff;
    color: #0079ff;
    font-size: 12px;
    border: 1px solid #0079fe;
    border-radius: 3px;
    vertical-align: top;
    box-sizing: border-box;
}
.ui-btn:active,.ui-btn.active{
    background:#0079ff; 
    color:#fff;
}
.ui-btn:after{
    content: "";
    position: absolute;
    top: -12px;
    bottom: -12px;
}
.ui-btn-blue{
    background: #0079ff;
    color: #fff;
    padding: 0 12px;
    border: 0 none;
}
.ui-btn-blue:active,.ui-btn-blue.active{
    background: #004087;
}
.ui-btn-red{
    border:1px solid #fd4326;
    color: #fc4226;
}
.ui-btn-red:active,.ui-btn-red.active{
    background: #fd4326;
    color: #fff;
}
.ui-btn-lg{
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    display: block;
    width: 100%;  
}
.ui-btn-disabled,.ui-btn-disabled:active,.ui-btn-disabled.active{
    border:1px solid #a6a6a6;
    color: #a6a6a6;
    background: #fff;
}
.ui-btn-wrap{
    padding: 20px 15px 0;
}

