@charset "UTF-8";
/*图标基类*/
.ui-icon-vip, .ui-icon-mq-vip,
.ui-icon-mq-vip-off, .ui-icon-mq-yearvip,
.ui-icon-mq-yearvip-off, .ui-icon-vip-level, .ui-icon-vip-cardlevel, .ui-icon-vip-year, .ui-icon-svip-level, .ui-icon-svip-cardlevel, .ui-icon-svip-year {
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
}
.ui-icon-vip span, .ui-icon-mq-vip span,
.ui-icon-mq-vip-off span, .ui-icon-mq-yearvip span,
.ui-icon-mq-yearvip-off span, .ui-icon-vip-level span, .ui-icon-vip-cardlevel span, .ui-icon-vip-year span, .ui-icon-svip-level span, .ui-icon-svip-cardlevel span, .ui-icon-svip-year span {
  overflow: hidden;
  content: "\0020";
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  line-height: 100px;
}

/*超Q图标*/
.ui-icon-mq, .ui-icon-mq-vip,
.ui-icon-mq-vip-off, .ui-icon-mq-yearvip,
.ui-icon-mq-yearvip-off {
  width: 28px;
}
.ui-icon-mq span, .ui-icon-mq-vip span,
.ui-icon-mq-vip-off span, .ui-icon-mq-yearvip span,
.ui-icon-mq-yearvip-off span {
  height: 28px;
  top: -15px;
  -webkit-background-size: 28px auto;
}

.ui-icon-mq-vip span {
  background-image: url(../img/vip/mq_vip.png);
}

.ui-icon-mq-vip-off span {
  background-image: url(../img/vip/off/mq_vip.png);
}

.ui-icon-mq-yearvip span {
  background-image: url(../img/vip/mq_yearvip.png);
}

.ui-icon-mq-yearvip-off span {
  background-image: url(../img/vip/off/mq_yearvip.png);
}

/*等级图标*/
/*宽度与背景size*/
.ui-icon-vip-level {
  width: 50px;
}
.ui-icon-vip-level span {
  -webkit-background-size: 50px auto;
}

.ui-icon-vip-cardlevel {
  width: 31px;
}
.ui-icon-vip-cardlevel span {
  -webkit-background-size: 31px auto;
}

.ui-icon-vip-year {
  width: 59px;
}
.ui-icon-vip-year span {
  -webkit-background-size: 59px auto;
}

.ui-icon-svip-level {
  width: 57px;
}
.ui-icon-svip-level span {
  -webkit-background-size: 57px auto;
}

.ui-icon-svip-cardlevel {
  width: 36px;
}
.ui-icon-svip-cardlevel span {
  -webkit-background-size: 36px auto;
}

.ui-icon-svip-year {
  width: 66px;
}
.ui-icon-svip-year span {
  -webkit-background-size: 66px auto;
}

.ui-icon-vip-level span, .ui-icon-vip-year span {
  height: 24px;
  top: -15px;
}

.ui-icon-svip-level span, .ui-icon-svip-year span {
  height: 26px;
  top: -17px;
}

.ui-icon-vip-cardlevel span, .ui-icon-svip-cardlevel span {
  height: 13px;
  top: -7px;
}

/*正常状态图标*/
.ui-icon-vip-level.level1 span {
  background-image: url(../img/vip/vip_1.png);
}

.ui-icon-vip-cardlevel.level1 span {
  background-image: url(../img/vip/vip_c_1.png);
}

.ui-icon-vip-year.year1 span {
  background-image: url(../img/vip/vip_n_1.png);
}

.ui-icon-svip-level.level1 span {
  background-image: url(../img/vip/svip_1.png);
}

.ui-icon-svip-cardlevel.level1 span {
  background-image: url(../img/vip/svip_c_1.png);
}

.ui-icon-svip-year.year1 span {
  background-image: url(../img/vip/svip_n_1.png);
}

.ui-icon-vip-level.level2 span {
  background-image: url(../img/vip/vip_2.png);
}

.ui-icon-vip-cardlevel.level2 span {
  background-image: url(../img/vip/vip_c_2.png);
}

.ui-icon-vip-year.year2 span {
  background-image: url(../img/vip/vip_n_2.png);
}

.ui-icon-svip-level.level2 span {
  background-image: url(../img/vip/svip_2.png);
}

.ui-icon-svip-cardlevel.level2 span {
  background-image: url(../img/vip/svip_c_2.png);
}

.ui-icon-svip-year.year2 span {
  background-image: url(../img/vip/svip_n_2.png);
}

.ui-icon-vip-level.level3 span {
  background-image: url(../img/vip/vip_3.png);
}

.ui-icon-vip-cardlevel.level3 span {
  background-image: url(../img/vip/vip_c_3.png);
}

.ui-icon-vip-year.year3 span {
  background-image: url(../img/vip/vip_n_3.png);
}

.ui-icon-svip-level.level3 span {
  background-image: url(../img/vip/svip_3.png);
}

.ui-icon-svip-cardlevel.level3 span {
  background-image: url(../img/vip/svip_c_3.png);
}

.ui-icon-svip-year.year3 span {
  background-image: url(../img/vip/svip_n_3.png);
}

.ui-icon-vip-level.level4 span {
  background-image: url(../img/vip/vip_4.png);
}

.ui-icon-vip-cardlevel.level4 span {
  background-image: url(../img/vip/vip_c_4.png);
}

.ui-icon-vip-year.year4 span {
  background-image: url(../img/vip/vip_n_4.png);
}

.ui-icon-svip-level.level4 span {
  background-image: url(../img/vip/svip_4.png);
}

.ui-icon-svip-cardlevel.level4 span {
  background-image: url(../img/vip/svip_c_4.png);
}

.ui-icon-svip-year.year4 span {
  background-image: url(../img/vip/svip_n_4.png);
}

.ui-icon-vip-level.level5 span {
  background-image: url(../img/vip/vip_5.png);
}

.ui-icon-vip-cardlevel.level5 span {
  background-image: url(../img/vip/vip_c_5.png);
}

.ui-icon-vip-year.year5 span {
  background-image: url(../img/vip/vip_n_5.png);
}

.ui-icon-svip-level.level5 span {
  background-image: url(../img/vip/svip_5.png);
}

.ui-icon-svip-cardlevel.level5 span {
  background-image: url(../img/vip/svip_c_5.png);
}

.ui-icon-svip-year.year5 span {
  background-image: url(../img/vip/svip_n_5.png);
}

.ui-icon-vip-level.level6 span {
  background-image: url(../img/vip/vip_6.png);
}

.ui-icon-vip-cardlevel.level6 span {
  background-image: url(../img/vip/vip_c_6.png);
}

.ui-icon-vip-year.year6 span {
  background-image: url(../img/vip/vip_n_6.png);
}

.ui-icon-svip-level.level6 span {
  background-image: url(../img/vip/svip_6.png);
}

.ui-icon-svip-cardlevel.level6 span {
  background-image: url(../img/vip/svip_c_6.png);
}

.ui-icon-svip-year.year6 span {
  background-image: url(../img/vip/svip_n_6.png);
}

.ui-icon-vip-level.level7 span {
  background-image: url(../img/vip/vip_7.png);
}

.ui-icon-vip-cardlevel.level7 span {
  background-image: url(../img/vip/vip_c_7.png);
}

.ui-icon-vip-year.year7 span {
  background-image: url(../img/vip/vip_n_7.png);
}

.ui-icon-svip-level.level7 span {
  background-image: url(../img/vip/svip_7.png);
}

.ui-icon-svip-cardlevel.level7 span {
  background-image: url(../img/vip/svip_c_7.png);
}

.ui-icon-svip-year.year7 span {
  background-image: url(../img/vip/svip_n_7.png);
}

/*过期状态图标*/
.ui-icon-vip-level.level1-off span {
  background-image: url(../img/vip/off/vip_1.png);
}

.ui-icon-vip-cardlevel.level1-off span {
  background-image: url(../img/vip/off/vip_c_1.png);
}

.ui-icon-vip-year.year1-off span {
  background-image: url(../img/vip/off/vip_n_1.png);
}

.ui-icon-svip-level.level1-off span {
  background-image: url(../img/vip/off/svip_1.png);
}

.ui-icon-svip-cardlevel.level1-off span {
  background-image: url(../img/vip/off/svip_c_1.png);
}

.ui-icon-svip-year.year1-off span {
  background-image: url(../img/vip/off/svip_n_1.png);
}

.ui-icon-vip-level.level2-off span {
  background-image: url(../img/vip/off/vip_2.png);
}

.ui-icon-vip-cardlevel.level2-off span {
  background-image: url(../img/vip/off/vip_c_2.png);
}

.ui-icon-vip-year.year2-off span {
  background-image: url(../img/vip/off/vip_n_2.png);
}

.ui-icon-svip-level.level2-off span {
  background-image: url(../img/vip/off/svip_2.png);
}

.ui-icon-svip-cardlevel.level2-off span {
  background-image: url(../img/vip/off/svip_c_2.png);
}

.ui-icon-svip-year.year2-off span {
  background-image: url(../img/vip/off/svip_n_2.png);
}

.ui-icon-vip-level.level3-off span {
  background-image: url(../img/vip/off/vip_3.png);
}

.ui-icon-vip-cardlevel.level3-off span {
  background-image: url(../img/vip/off/vip_c_3.png);
}

.ui-icon-vip-year.year3-off span {
  background-image: url(../img/vip/off/vip_n_3.png);
}

.ui-icon-svip-level.level3-off span {
  background-image: url(../img/vip/off/svip_3.png);
}

.ui-icon-svip-cardlevel.level3-off span {
  background-image: url(../img/vip/off/svip_c_3.png);
}

.ui-icon-svip-year.year3-off span {
  background-image: url(../img/vip/off/svip_n_3.png);
}

.ui-icon-vip-level.level4-off span {
  background-image: url(../img/vip/off/vip_4.png);
}

.ui-icon-vip-cardlevel.level4-off span {
  background-image: url(../img/vip/off/vip_c_4.png);
}

.ui-icon-vip-year.year4-off span {
  background-image: url(../img/vip/off/vip_n_4.png);
}

.ui-icon-svip-level.level4-off span {
  background-image: url(../img/vip/off/svip_4.png);
}

.ui-icon-svip-cardlevel.level4-off span {
  background-image: url(../img/vip/off/svip_c_4.png);
}

.ui-icon-svip-year.year4-off span {
  background-image: url(../img/vip/off/svip_n_4.png);
}

.ui-icon-vip-level.level5-off span {
  background-image: url(../img/vip/off/vip_5.png);
}

.ui-icon-vip-cardlevel.level5-off span {
  background-image: url(../img/vip/off/vip_c_5.png);
}

.ui-icon-vip-year.year5-off span {
  background-image: url(../img/vip/off/vip_n_5.png);
}

.ui-icon-svip-level.level5-off span {
  background-image: url(../img/vip/off/svip_5.png);
}

.ui-icon-svip-cardlevel.level5-off span {
  background-image: url(../img/vip/off/svip_c_5.png);
}

.ui-icon-svip-year.year5-off span {
  background-image: url(../img/vip/off/svip_n_5.png);
}

.ui-icon-vip-level.level6-off span {
  background-image: url(../img/vip/off/vip_6.png);
}

.ui-icon-vip-cardlevel.level6-off span {
  background-image: url(../img/vip/off/vip_c_6.png);
}

.ui-icon-vip-year.year6-off span {
  background-image: url(../img/vip/off/vip_n_6.png);
}

.ui-icon-svip-level.level6-off span {
  background-image: url(../img/vip/off/svip_6.png);
}

.ui-icon-svip-cardlevel.level6-off span {
  background-image: url(../img/vip/off/svip_c_6.png);
}

.ui-icon-svip-year.year6-off span {
  background-image: url(../img/vip/off/svip_n_6.png);
}

.ui-icon-vip-level.level7-off span {
  background-image: url(../img/vip/off/vip_7.png);
}

.ui-icon-vip-cardlevel.level7-off span {
  background-image: url(../img/vip/off/vip_c_7.png);
}

.ui-icon-vip-year.year7-off span {
  background-image: url(../img/vip/off/vip_n_7.png);
}

.ui-icon-svip-level.level7-off span {
  background-image: url(../img/vip/off/svip_7.png);
}

.ui-icon-svip-cardlevel.level7-off span {
  background-image: url(../img/vip/off/svip_c_7.png);
}

.ui-icon-svip-year.year7-off span {
  background-image: url(../img/vip/off/svip_n_7.png);
}
