/**
 * loading
 */

.ui-loading-wrap{
	display: -webkit-box;
	display: box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	box-pack: center;
	box-align: center;
	text-align: center;
}
.ui-loading{
	width: 20px;
	height: 20px;
	display: block;
	background: url(../img/loading_sprite.png);
	background-size: auto 20px;
	-webkit-animation: rotate 1s steps(12) infinite;
}
.ui-loading-wrap .ui-loading{margin-right: 10px;}
@-webkit-keyframes rotate {
    from {
    	background-position: 0 0;
    }
    
    to {
        background-position: -240px 0;
    }
}