/**
 * 选项卡
 */
.ui-tab{padding: 14px 15px;}
.ui-tab ul{
	height: 29px;
	line-height: 29px;
	display: box;
	display: -webkit-box;
	border: #0079ff 1px solid;
	border-radius: 3px;
}
.ui-tab li{
	box-flex: 1;
	-webkit-box-flex: 1;
	text-align: center;
	color: #0079ff;
	border-right: #0079ff 1px solid;
}
.ui-tab li:last-child{
	border-right: none;
}
.ui-tab li.active{
	background: #0079ff; 
	color: #fff;
}
.ui-tab-gray ul{
	border: #848484 1px solid;
}
.ui-tab-gray li{
	color: #848484;
	border-right: #848484 1px solid;
}
.ui-tab-gray li.active{
	background: #848484; 
}