.ui-tips{width:100%;position: fixed;top:0px;left:0px;z-index: 10;}
.ui-tips .tips-cont{margin:0px 10px;background:rgba(0,0,0,.6);line-height:40px;height:40px;padding:0 10px; color:#fff;font-size: 14px;text-align: center;border-bottom-left-radius:3px;border-bottom-right-radius:3px;}
.ui-tips .tips-cont i{margin-right: 7px;margin-left:0px;}
.ui-tips .ui-icon{font-size: 20px; }
