@charset "utf-8";





/*链接色*/
// $linkColor: #202020 #FF6428 !default;
// a{
//   color: nth($linkColor,1);
//   &:hover{
//     color: nth($linkColor,2);
//   }
//   &:active{
// 	color: nth($linkColor,1);
//   }
// }

%clearfix{
	*zoom:1;
	&:before,
	&:after{
		content: ' ';
		display: table;
	}
	&:after{
		clear: both;
	}
}
/*一行*/
@mixin nowrap{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*两行*/
@mixin nowrapTwo{
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    word-wrap: break-all;
    word-break: normal; 
}

// 横向背景渐变颜色，从橙色变成红橙色
// @mixin primaryBgGradient{
//   background: $colorHL2;
//   background: -webkit-linear-gradient(left, $colorHL3 0%, $colorHL 100%);
// 	background: linear-gradient(to right, $colorHL3 0%, $colorHL 100%);
// }

// 文字渐变颜色
// @mixin primaryTextGradient{
//   background: -webkit-linear-gradient(left, $colorHL3 0%, $colorHL 100%);
// 	-webkit-text-fill-color: transparent;
//   -webkit-background-clip: text;
// }
/*头像*/
@mixin avatarImg{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

