/*===========================================
		项目: 腾讯直播
		作者: faycheng
		日期: 2016-12-30
		作用: 弹窗
===========================================*/


.mod_popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	background: rgba(0,0,0,.75);
	display: none;
	color: #fff
}

.mod_popup.show {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.mod_popup_header{

	margin-bottom: 10px;
	position: relative;
	margin-top: 20px;
	z-index: 1;
	width: 100%;
	text-align: center;
	h4{
		font-size: 15px;
		font-weight: 500;
	}
}
.mod_popup_icon_close{
	display: block;
	width: 15px;
	height: 15px;
	margin: 0 auto;
	position: absolute;
	color: #fff;
	top: 0;
	right: 20px;
}
.mod_popup_body {
	font-size: 15px;
	line-height: 24px;
}
