@charset "utf-8";

@import "reset";
@import  "fn_common";

html,
body{
	width: 100%;
	height: 100%;
}

.svg_icon{
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: top;
	pointer-events: none;
}
.svg_icon path,
.svg_icon use{
	fill: currentColor;
}
.txp_svg_sprite{
	display: none;
}
/****/
.mod_fans_pk{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.75);
	.fans_pk{
		width: 100%;
		height: 100%;

		display: -webkit-flex;
	    display: flex;

	    flex-direction: column;
	    -webkit-flex-direction: column;

	    justify-content: center;
	    -webkit-justify-content: center;

	    align-items:center;
	    -webkit-align-items:center;



	}
	.pk_list{
		width: 490px;
		margin-bottom: 25px;

		display: -webkit-flex;
		display: flex;

		justify-content: center;
		-webkit-justify-content: center;
	}
	.pk_user{
		width: 210px;
	}
	// .pk_user_l{
	// 	float: left;
	// }
	// .pk_user_r{
	// 	float: right;
	// }
	.user_pic{
		display: block;
		width: 57px;
		height: 57px;
		border-radius: 100%;
		margin:0 auto 5px;
		img{
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 100%;
			@include avatarImg;
		}
	}
	.user_name{
		font-size: 16px;
		line-height: 22px;
		color: #fff;
		text-align: center;
		margin:0 auto 10px;
		@include nowrap;
	}
	.user_info{
		width: 100%;
		text-align: center;
		@extend %clearfix;
	}
	.user_devote{
		float: left;
		width: 50%;
		font-size: 0;
		.tit{
			font-size: 11px;
			line-height: 20px;
			color: #999;
		}
		.num{
			font-size: 17px;
			line-height: 24px;
			color: #fff;
			font-weight: 700;
		}
	}
	.pk_icon{
		position: relative;
		width: 70px;
		height: 80px;
		&:before,
		&:after{
		    content: "";
		    position: absolute;
		    left: 35px;
		    width: 0;
		    height: 30px;
		    font-size: 0;
		    border-right: 1px solid rgba(255,255,255,.1);
		    -webkit-transform: scaleX(.5);
		    -webkit-transform-origin: 0 0;
		}
		&:before{
			top: 0;
		}
		&:after{
			bottom: 0;
		}
		.icon_pk_vs{
			position: absolute;
			left: 23px;
    		top: 32px;
    		width: 26px;
    		height: 26px;
		}
	}
	.pk_btn{
		text-align: center;
		margin-bottom: 14px;
	}
	.btn_devote{
		display: inline-block;
		padding: 0 15px;
		font-size: 15px;
		line-height: 40px;
		border-radius: 40px;
		color: #fff;
		background: #ff7000;
	}
	.btn_close{
		position: absolute;
		top: 15px;
		right: 15px;
		color: #fff;
		width: 30px;
		height: 30px;
		.icon_pk_close{
			display: block;
			width: 15px;
			height: 15px;
			margin: 0 auto;
			position: relative;
			top: 7px;
		}
	}
	.pk_info{
		text-align: center;
		font-size: 14px;
		line-height: 24px;
		color: #999;
		.link{
			color: #ff7000;
			text-decoration: underline;
		}
	}
}
