@charset "utf-8";

@import "reset";
@import "mod_popup";

body{
	background: #040d1f;
}
.popup_notice{
	background: transparent;
}
.iphone_bg{
	width: 100%;
	height: 100%;
	background: url(../img/effect/iphone.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
    position: absolute;
}
.section_user{
	width: 60px;
	height: 90px;
	position: absolute;
    top: 70px;
	.avatar{
		width: 56px;
		height: 56px;
		border-radius: 30px;
		border: 2px rgba(#f51c35,.8) solid;
		position: absolute;
		left: 2px;
		top: 2px;
		z-index: 1;
	}
	.c1{
		width: 110px;
		height: 110px;
		position: absolute;
		left: -25px;
		top: -25px;
		background-color: rgba(#f51c35,.2);
		border-radius: 55px;
	}
	.c2{
		width: 90px;
		height: 90px;
		position: absolute;
		left: -15px;
		top: -15px;
		background-color: rgba(#f51c35,.3);
		border-radius: 45px;
	}
	.c3{
		width: 70px;
		height: 70px;
		position: absolute;
		left: -5px;
		top: -5px;
		background-color: rgba(#f51c35,.5);
		border-radius: 35px;
	}
	.name{
		display: inline-block;
		white-space: nowrap;
		font-size: 16px;
		color: #fff;
		background: #f51c35;
		height: 28px;
		line-height: 28px;
		border-radius: 14px;
		padding: 0 16px;
		margin-top: 60px;
		transform: translate(-50%,0);
		margin-left: 30px;
	}
}
.section_banner{
	position: absolute;
	top: 158px;
	.banner{
		width: 389px;
		height: 77px;
		background: url(../img/effect/banner.png);
		background-size: 389px auto;
		text-align: center;
		text-shadow: 1px 1.732px 4px rgb( 217, 0, 18 );
		font-size: 16px;
		line-height: 32px;
		font-weight: 500;
	}
	.balloon_list{
		position: absolute;
		width: 90px;
		height: 112px;
		bottom: 76px;
		left: 24px;
	}
	.balloon_list2{
		transform: scaleX(-1);
		left: inherit;
		right: 24px;
	}
	.balloon1{
		width: 50px;
		height: 83px;
		background: url(../img/effect/balloon1.png);
		background-size: 50px 83px;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1
	}

	.balloon2{
		width: 43px;
		height: 107px;
		background: url(../img/effect/balloon2.png);
		background-size: 43px 107px;
		position: absolute;
		bottom: 0;
		left: 6px;
	}
	.balloon3{
		width: 39px;
		height: 67px;
		background: url(../img/effect/balloon3.png);
		background-size: 39px 67px;
		position: absolute;
		bottom: 0;
		left: 27px;
	}
	.balloon4{
		width: 34px;
		height: 89px;
		background: url(../img/effect/balloon4.png);
		background-size: 34px 89px;
		position: absolute;
		bottom: 0;
		left: 47px;
	}
	.num{
		font-size: 26px;
	}
}
.section_text{
	width: 264px;
	height: 74px;
	background: url(../img/effect/text.png);
	background-size: 264px 74px;
	position: absolute;
	top: 215px;
}
.section_btn{
	font-size: 15px;
	color: #fff;
	background: #ff7000;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	padding: 0 45px;
	position: absolute;
	top: 295px;
}
