*{margin:0;padding:0}
body,html{width:100%;height:100%}
.none{display:none!important}
.mod_badge{position:absolute;left:0;top:0;opacity:0;z-index:9999;width:100%;height:100%;background:rgba(0,0,0,.75);font:14px/1.5 PingFangSC-Regular,"Helvetica Neue",tahoma,arial,sans-serif;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;display:box;box-orient:horizontal;box-pack:center;box-align:center;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center}
.mod_badge .badge_inner{width:100%;text-align:center}
.mod_badge .badge_inner .badge_img{position:relative;width:231px;height:172px;margin:0 auto}
.mod_badge .badge_inner .badge_img img{display:block;width:100%;height:100%;opacity:0}
.mod_badge .badge_inner .badge_img .star_box_1{position:absolute;left:42px;bottom:-36px;z-index:2;opacity:0;width:175px;height:170px}
.mod_badge .badge_inner .badge_img .star_box_1 i{display:inline-block;overflow:hidden;position:absolute;background-image:url(/tencentvideo/vstyle/mobile/app/style/img/badge/star_1.svg);background-size:cover}
.mod_badge .badge_inner .badge_img .star_box_1 .icon_star_01{left:0;top:20px;width:14px;height:14px}
.mod_badge .badge_inner .badge_img .star_box_1 .icon_star_02{left:6px;bottom:0;width:29px;height:29px}
.mod_badge .badge_inner .badge_img .star_box_1 .icon_star_03{top:0;right:0;width:22px;height:22px}
.mod_badge .badge_inner .badge_img .star_box_1 .icon_star_04{right:20px;bottom:23px;width:29px;height:29px}
.mod_badge .badge_inner .badge_img .star_box_2{position:absolute;left:0;bottom:-13px;z-index:3;opacity:0;width:241px;height:142px}
.mod_badge .badge_inner .badge_img .star_box_2 i{display:inline-block;position:absolute;background-image:url(/tencentvideo/vstyle/mobile/app/style/img/badge/star_2.svg);background-size:cover}
.mod_badge .badge_inner .badge_img .star_box_2 .icon_star_01{left:21px;top:5px;width:27px;height:27px}
.mod_badge .badge_inner .badge_img .star_box_2 .icon_star_02{left:79px;top:0;width:15px;height:15px}
.mod_badge .badge_inner .badge_img .star_box_2 .icon_star_03{left:0;bottom:0;width:17px;height:17px}
.mod_badge .badge_inner .badge_img .star_box_2 .icon_star_04{top:42px;right:16px;width:12px;height:12px}
.mod_badge .badge_inner .badge_img .star_box_2 .icon_star_05{right:0;bottom:7px;width:22px;height:22px}
.mod_badge .badge_inner .badge_title{font-size:20px;color:#ff0983;margin-top:8px;opacity:0}
.mod_badge .badge_inner .badge_desc{font-size:13px;color:#fff;opacity:0}
.mod_badge .badge_inner .badge_btn{font-size:0;margin-top:35px;opacity:0}
.mod_badge .badge_inner .badge_btn .btn{display:block;margin:8px 64px;padding:0 20px;height:36px;line-height:36px;font-size:14px;color:#fff;background-color:#ff0983;border-radius:18px}
.mod_badge .badge_inner .badge_btn .btn_line{display:block;margin:8px 64px;padding:0 20px;height:36px;line-height:36px;font-size:14px;color:#ff0983;border:1px solid #ff0983;border-radius:18px}
.mod_badge .badge_inner .badge_btn .name{display:inline-block;text-align:left;vertical-align:top;max-width:10em;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.active.mod_badge{-webkit-animation:fadeIn .23s linear forwards;animation:fadeIn .23s linear forwards}
.active .badge_img img{-webkit-animation:scaleIn .37s linear .3s forwards;animation:scaleIn .37s linear .3s forwards}
.active .badge_title{-webkit-animation:fadeIn .27s linear .53s forwards;animation:fadeIn .27s linear .53s forwards}
.active .badge_desc{-webkit-animation:fadeIn .27s linear .53s forwards;animation:fadeIn .27s linear .53s forwards}
.active .badge_btn{-webkit-animation:fadeIn .27s linear .83s forwards;animation:fadeIn .27s linear .83s forwards}
.active .star_box_1{-webkit-animation:translateY_1 1.2s linear 1.4s forwards;animation:translateY_1 1.2s linear 1.4s forwards}
.active .star_box_2{-webkit-animation:translateY_2 1.13s linear 1s forwards;animation:translateY_2 1.13s linear 1s forwards}
@-webkit-keyframes fadeIn{
0%{opacity:0}
100%{opacity:1}
}
@keyframes fadeIn{
0%{opacity:0}
100%{opacity:1}
}
@-webkit-keyframes scaleIn{
0%{opacity:0;-webkit-transform:scale(0)}
100%{opacity:1;-webkit-transform:scale(1)}
}
@keyframes scaleIn{
0%{opacity:0;transform:scale(0)}
100%{opacity:1;transform:scale(1)}
}
@-webkit-keyframes translateY_1{
0%{opacity:0;-webkit-transform:translateY(0)}
30%,70%{opacity:1}
100%{opacity:0;-webkit-transform:translateY(-65px)}
}
@keyframes translateY_1{
0%{opacity:0;transform:translateY(0)}
30%,70%{opacity:1}
100%{opacity:0;transform:translateY(-65px)}
}
@-webkit-keyframes translateY_2{
0%{opacity:0;-webkit-transform:translateY(0)}
30%,70%{opacity:1}
100%{opacity:0;-webkit-transform:translateY(-73px)}
}
@keyframes translateY_2{
0%{opacity:0;transform:translateY(0)}
30%,70%{opacity:1}
100%{opacity:0;transform:translateY(-73px)}
}
@media screen and (min-width:400px){
.mod_badge .badge_inner .badge_btn .name{max-width:13em}
}
@media screen and (max-width:360px){
.mod_badge .badge_inner .badge_btn .name{max-width:9em}
}
@media screen and (max-width:320px){
.mod_badge .badge_inner .badge_btn .name{max-width:6em}
}
#faycheng{content:"20171108102108"}