@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  background-color: #fff;
}

article, aside, blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
  line-height: 1.5;
  font-size: 14px;
  color: #000;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-size: 100%;
}

a {
  text-decoration: none;
  background: 0 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

a:active {
  outline: 0;
}

li {
  list-style: none;
}

b, strong {
  font-weight: 700;
}

fieldset, img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  height: 0;
}

pre {
  overflow: auto;
}

legend {
  border: 0;
  padding: 0;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em, i {
  font-style: normal;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

button, input, optgroup, option, select, textarea {
  font: inherit;
  outline: 0;
  border: 0;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

button, input[type=button], input[type=reset], input[type=submit] {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  background: 0 0;
}

input[type=search], input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input:focus, select:focus, textarea:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #666;
}

/***/
img {
  display: inline-block;
}

.none {
  display: none !important;
}

/*===========================================
		项目: 腾讯直播
		作者: faycheng
		日期: 2016-12-30
		作用: 提示
===========================================*/
.mod_toast {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  top: 0;
  left: 0;
  display: none;
  z-index: 100;
}

.mod_toast_content {
  padding: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  margin: auto;
  text-align: center;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: 75%;
}

.mod_toast.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.mod_toast i {
  margin-bottom: 10px;
}

.mod_toast h4 {
  font-size: 13px;
}

.mod_toast p {
  font-size: 13px;
}

.btn_normal {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  text-align: center;
  display: block;
  font-size: 13px;
}
.btn_normal:active {
  opacity: .5;
}
.btn_normal .icon_clock {
  display: inline-block;
  position: relative;
  width: 11px;
  height: 12px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 -107px;
  margin-right: 5px;
  top: 1px;
}
.btn_normal .icon_live {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 8px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 -170px;
  margin-right: 3px;
  top: -1px;
}
.btn_normal .icon_done {
  display: inline-block;
  position: relative;
  width: 11px;
  height: 8px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 -141px;
  margin-right: 3px;
  top: -1px;
}

.icon_arrow {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 14px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 -88px;
  top: 2px;
  margin-right: 2px;
}

.btn_subscribe {
  background: #f4f7fa;
  margin-bottom: 15px;
}
.btn_subscribe:active {
  opacity: 1;
  background-color: #e0e5ea;
}

.btn_live {
  background: #fc7101;
  color: #fff;
}

.btn_review {
  background: #a3a3a3;
  color: #fff;
}

.btn_all {
  background: #fc7101;
  color: #fff;
}

.btn_done {
  background: #5ea6f0;
  color: #fff;
}
.btn_done:active {
  opacity: 1;
}

.mod_step {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background: url(../../../style/img/match/bg_header.png);
  background-size: cover;
}
.mod_step .step_list {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  text-align: center;
}
.mod_step .step_list li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  line-height: 50px;
  font-size: 13px;
  position: relative;
}
.mod_step .step_list li a {
  color: #fff;
}
.mod_step .step_list li:after {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 30px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 -29px;
  right: -4px;
  top: 50%;
  margin-top: -15px;
}
.mod_step .step_list li.current a {
  color: #fc7101;
}
.mod_step .step_list li.current:before {
  content: '';
  display: block;
  position: absolute;
  width: 14px;
  height: 7px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 0;
  bottom: 7px;
  left: 50%;
  margin-left: -7px;
}
.mod_step .step_list li:active a {
  color: #fc7101;
}
.mod_step .step_list li:last-child:after {
  content: none;
}

.mod_step + .match_list {
  margin-top: 65px;
}

.match_list {
  background: #fff;
  position: relative;
  margin: 15px 12px;
}
.match_list h3 {
  font-weight: 700;
  text-align: center;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  margin-bottom: -1px;
  position: relative;
  z-index: 1;
  background: #fff;
}
.match_list h3 .title {
  display: inline-block;
  padding: 0 8px;
  position: relative;
}
.match_list h3 .title:before {
  content: '';
  display: block;
  position: absolute;
  width: 200px;
  height: 7px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 -64px;
  left: 0;
  transform: translate(-100%, 0);
  top: 7px;
}
.match_list h3 .title:after {
  content: '';
  display: block;
  position: absolute;
  width: 200px;
  height: 7px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 -76px;
  right: 0;
  top: 7px;
  transform: translate(100%, 0);
}
.match_list .icon_gold {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 11px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 -154px;
  top: 1px;
  margin-right: 2px;
}
.match_list .icon_hot {
  width: 24px;
  height: 12px;
  font-size: 9px;
  line-height: 12px;
  background: #fd4242;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  top: -2px;
  color: #fff;
  text-align: center;
  margin-right: 2px;
}
.match_list .time {
  color: #666;
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 12px;
}
.match_list .name {
  font-size: 16px;
  margin-bottom: 4px;
}
.match_list .match_item {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  text-align: center;
  border-top: 1px solid #eaeaea;
}
.match_list .match_sides {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: row;
  text-align: center;
  margin-bottom: 15px;
}
.match_list .match_sides .one_side {
  margin: 0 18px;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.match_list .match_sides .logo {
  border: 1px solid #999;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  margin: 0 auto 8px;
  position: relative;
}
.match_list .match_sides .logo:before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background: url(../../../style/img/match/avatar_default.png);
  background-size: cover;
  position: absolute;
  left: 2px;
  top: 2px;
}
.match_list .match_sides .logo img {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin: 2px;
  position: relative;
  z-index: 1;
}
.match_list .match_sides .score {
  font-size: 19px;
  margin-bottom: 8px;
}

.high_point {
  margin-right: -12px;
}
.high_point h4 {
  margin-bottom: 10px;
  position: relative;
}
.high_point h4 .more {
  position: absolute;
  right: 12px;
  top: 0;
  color: #979797;
  padding-right: 11px;
}
.high_point h4 .more:after {
  content: '';
  display: block;
  position: absolute;
  width: 7px;
  height: 12px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 -12px;
  right: 0;
  top: 4px;
}
.high_point .video_list_wrap {
  width: 100%;
  margin-bottom: 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.high_point .video_list_wrap::-webkit-scrollbar {
  height: 0;
}
.high_point .video_list {
  font-size: 0;
  width: 100%;
  white-space: nowrap;
}
.high_point .video_list li {
  display: inline-block;
  background-color: #f4f7fa;
  border-radius: 4px;
  width: 153px;
  height: 60px;
  font-size: 12px;
  padding: 15px 10px;
  margin-right: 10px;
  white-space: normal;
  position: relative;
}
.high_point .video_list li div {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.high_point .video_list li:active {
  background-color: #e0e5ea;
}
.high_point .video_list li .tag {
  display: block;
  background: #fc7101;
  border-radius: 3px;
  font-size: 11px;
  color: #fff;
  padding: 0 5px;
  height: 15px;
  line-height: 15px;
  position: absolute;
  left: 0;
  top: 0;
}

.fixed_link .map_link {
  position: fixed;
  bottom: 83px;
  right: 8px;
  width: 53px;
  height: 53px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 -183px;
  color: #fff;
  text-align: center;
  line-height: 53px;
  z-index: 99;
  font-size: 13px;
}
.fixed_link .team_link {
  position: fixed;
  bottom: 20px;
  right: 8px;
  width: 53px;
  height: 53px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 -259px;
  color: #fff;
  text-align: center;
  line-height: 53px;
  z-index: 99;
}
.fixed_link .team_current {
  position: absolute;
  top: 0;
  left: 0;
}
.fixed_link .team_current .logo {
  width: 53px;
  height: 53px;
  border-radius: 27px;
}
.fixed_link .team_current:after {
  content: '';
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 -241px;
  right: 2px;
  top: 2px;
  z-index: 1;
}
.fixed_link .map_link:active:after,
.fixed_link .team_link:active:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.mod_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -webkit-justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  display: none;
}

.mod_popup.show {
  display: -webkit-box;
  display: -webkit-flex;
}

.mod_popup_content {
  width: 100%;
  background: #fff;
  height: 464px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.mod_popup_content header {
  height: 42px;
  line-height: 42px;
  color: #666;
  text-align: center;
  margin-bottom: 12px;
  position: relative;
}
.mod_popup_content header .icon_close {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url('../../../../style/img/sprite/match_schedule.png');
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  background-position: 0 -124px;
  right: 12px;
  top: 14px;
}
.mod_popup_content header .icon_close:after {
  content: "";
  position: absolute;
  top: -9px;
  bottom: -9px;
  left: -9px;
  right: -9px;
}

.team_list {
  margin: 0 25px;
}
.team_list li {
  width: 33.33%;
  float: left;
  text-align: center;
  margin-bottom: 26px;
}
.team_list li .logo {
  border: 1px solid #999;
  width: 56px;
  height: 56px;
  border-radius: 27px;
  margin: 0 auto 6px;
}
.team_list li .logo img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 2px;
}
.team_list li.current, .team_list li:active {
  color: #fc7101;
}
.team_list li.current .logo, .team_list li:active .logo {
  border-color: #fc7101;
}

body {
  color: #222;
}

a {
  color: #222;
}

img {
  display: block;
}

.bg_top {
  -webkit-box-reflect: below -1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.8)));
}

.txt_light {
  color: #999;
}

.page_index .match_list {
  padding: 14px 4px;
  border-radius: 3px 3px 0 0;
  margin-top: -54px;
}
.page_index .match_item {
  border-top: 0;
}

.mod_head {
  width: 100%;
  height: 50px;
  margin-bottom: 8px;
  background: url(../../../style/img/match/bg_header.png);
  background-size: cover;
  text-align: center;
}
.mod_head .title {
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  position: relative;
}
.mod_head .title:before, .mod_head .title:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  width: 15px;
  height: 6px;
  background-image: url('../../../../style/img/sprite/match_index.png');
  -moz-background-size: 53px auto;
  -o-background-size: 53px auto;
  -webkit-background-size: 53px auto;
  background-size: 53px auto;
  background-position: 0 -404px;
}
.mod_head .title:before {
  left: -20px;
}
.mod_head .title:after {
  background-position: 0 -415px;
  right: -20px;
}

.mod_title {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 8px;
}

.btn_all {
  width: 150px;
  margin: auto;
}
.btn_all .icon_btn_arrow {
  width: 5px;
  height: 8px;
  background-image: url('../../../../style/img/sprite/match_index.png');
  -moz-background-size: 53px auto;
  -o-background-size: 53px auto;
  -webkit-background-size: 53px auto;
  background-size: 53px auto;
  background-position: 0 -73px;
  display: inline-block;
  position: relative;
  margin-left: 4px;
}

.match_link {
  position: fixed;
  bottom: 60px;
  right: 8px;
  width: 53px;
  height: 53px;
  background-image: url('../../../../style/img/sprite/match_index.png');
  -moz-background-size: 53px auto;
  -o-background-size: 53px auto;
  -webkit-background-size: 53px auto;
  background-size: 53px auto;
  background-position: 0 -210px;
  color: #fff;
  text-align: center;
  z-index: 99;
  font-size: 13px;
  padding: 8px;
}
.match_link:active:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.team_video_list {
  overflow: hidden;
}
.team_video_list h3 {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 0 12px;
  position: relative;
  margin-bottom: 18px;
}
.team_video_list .video_list {
  margin: 0 8px 0 12px;
  font-size: 13px;
}
.team_video_list .video_list li {
  width: 50%;
  float: left;
  padding-right: 4px;
  padding-bottom: 20px;
}
.team_video_list .video_list li .title {
  font-size: 13px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}
.team_video_list .video_list li .img {
  width: 100%;
  margin-bottom: 5px;
  padding-top: 56.6%;
  position: relative;
}
.team_video_list .video_list li .img .num {
  position: absolute;
  right: 8px;
  font-size: 11px;
  color: #fff;
  bottom: 3px;
  z-index: 1;
}
.team_video_list .video_list li .img .cover {
  position: absolute;
  top: -5px;
  height: 5px;
  left: 10px;
  right: 10px;
  background: #c9cfdd;
}
.team_video_list .video_list li .img .cover:before {
  content: '';
  background: #e4e7ee;
  position: absolute;
  left: 10px;
  top: -5px;
  right: 10px;
  height: 5px;
}
.team_video_list .video_list li .img:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
}
.team_video_list .video_list li img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.btn_app_wrap {
  margin: 0 12px;
}

.btn_app {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.btn_app .app_logo {
  display: inline-block;
  width: 23px;
  height: 21px;
  background-image: url('../../../../style/img/sprite/match_index.png');
  -moz-background-size: 53px auto;
  -o-background-size: 53px auto;
  -webkit-background-size: 53px auto;
  background-size: 53px auto;
  background-position: 0 0;
  position: relative;
  top: 5px;
  margin-right: 10px;
}
.btn_app:active {
  background: #f4f7fa;
  border-color: #f4f7fa;
}

@media (max-width: 320px) {
  .btn_app {
    font-size: 13px;
  }
}
.page_index {
  padding-bottom: 50px;
}

.mod_tab {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px #b3b2b3 solid;
  background: #fff;
  z-index: 99;
}
.mod_tab ul {
  display: -webkit-box;
  display: -webkit-flex;
  height: 100%;
}
.mod_tab .icon_index,
.mod_tab .icon_team,
.mod_tab .icon_people,
.mod_tab .icon_hero {
  display: block;
  width: 26px;
  height: 26px;
  background-image: url('../../../../style/img/sprite/match_index.png');
  -moz-background-size: 53px auto;
  -o-background-size: 53px auto;
  -webkit-background-size: 53px auto;
  background-size: 53px auto;
  background-position: 0 -148px;
}
.mod_tab .icon_team {
  background-position: 0 -330px;
}
.mod_tab .icon_people {
  background-position: 0 -268px;
}
.mod_tab .icon_hero {
  background-position: 0 -86px;
}
.mod_tab li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  text-align: center;
  color: #777;
  font-size: 11px;
}
.mod_tab li.current, .mod_tab li:active {
  color: #fc7101;
}
.mod_tab li.current .icon_index, .mod_tab li:active .icon_index {
  background-position: 0 -179px;
}
.mod_tab li.current .icon_team, .mod_tab li:active .icon_team {
  background-position: 0 -361px;
}
.mod_tab li.current .icon_people, .mod_tab li:active .icon_people {
  background-position: 0 -299px;
}
.mod_tab li.current .icon_hero, .mod_tab li:active .icon_hero {
  background-position: 0 -117px;
}

.top5_list {
  margin-left: 12px;
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;
  margin-top: 8px;
}
.top5_list .video_list_wrap {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.top5_list .video_list_wrap::-webkit-scrollbar {
  height: 0;
}
.top5_list .video_list {
  font-size: 0;
  width: 100%;
  white-space: nowrap;
}
.top5_list .video_list li {
  width: 173px;
  margin-right: 4px;
  margin-bottom: 10px;
  display: inline-block;
}
.top5_list .video_list li .title {
  font-size: 13px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}
.top5_list .video_list li .img {
  width: 100%;
  margin-bottom: 5px;
  padding-top: 56.6%;
  position: relative;
}
.top5_list .video_list li .img .date {
  position: absolute;
  left: 8px;
  font-size: 11px;
  color: #fff;
  bottom: 3px;
  z-index: 1;
}
.top5_list .video_list li .img .time {
  position: absolute;
  right: 8px;
  font-size: 11px;
  color: #fff;
  bottom: 3px;
  z-index: 1;
}
.top5_list .video_list li .img:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
}
.top5_list .video_list li img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.top5_nav {
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  margin-right: 12px;
  margin-bottom: 10px;
}
.top5_nav li {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  text-align: center;
  color: #777;
  font-size: 11px;
}
.top5_nav .avatar {
  width: 38px;
  height: 38px;
  position: relative;
}
.top5_nav .avatar img {
  width: 38px;
  height: 38px;
  border-radius: 19px;
  position: relative;
  z-index: 1;
}
.top5_nav .avatar:before {
  content: '';
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  background: url(../../../style/img/match/avatar_default.png);
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.top5_nav .avatar .rank {
  display: block;
  background: #999;
  width: 21px;
  height: 11px;
  line-height: 11px;
  font-size: 8px;
  color: #fff;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 3;
}
.top5_nav .avatar .rank1 {
  background-color: #fd4242;
}
.top5_nav .avatar .rank2 {
  background-color: #fc7101;
}
.top5_nav .avatar .rank3 {
  background-color: #fec71c;
}
.top5_nav li.current {
  color: #fc7101;
}
.top5_nav li.current .avatar:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 42px;
  height: 42px;
  background-image: url('../../../../style/img/sprite/match_index.png');
  -moz-background-size: 53px auto;
  -o-background-size: 53px auto;
  -webkit-background-size: 53px auto;
  background-size: 53px auto;
  background-position: 0 -26px;
  z-index: 2;
}
.top5_nav li:active {
  color: #fc7101;
}

.rank_list h3 {
  margin-left: 12px;
  margin-bottom: 8px;
}
.rank_list table {
  width: 100%;
  font-size: 12px;
  margin-bottom: 16px;
}
.rank_list table td {
  text-align: center;
}
.rank_list table td, .rank_list table th {
  padding: 0 8px;
  white-space: nowrap;
}
.rank_list table thead {
  background: #f4f7fa;
  min-height: 40px;
  line-height: 40px;
}
.rank_list table .best {
  text-align: left;
}
.rank_list table tbody tr {
  height: 40px;
  border-bottom: 1px #f2f2f2 solid;
  margin-left: 12px;
}
.rank_list table tbody .best {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-direction: row;
  white-space: normal;
  padding-left: 38px;
  min-height: 40px;
  position: relative;
  min-width: 92px;
  max-width: 120px;
}
.rank_list table tbody .best img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}
.rank_list table .name {
  text-align: left;
}
.rank_list table .rank {
  color: #999;
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
}
.rank_list table .rank1 {
  color: #fd4242;
}
.rank_list table .rank2 {
  color: #fc7101;
}
.rank_list table .rank3 {
  color: #fec71c;
}

.rank_tab {
  display: -webkit-box;
  display: -webkit-flex;
  padding-bottom: 10px;
}
.rank_tab li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  text-align: center;
  height: 24px;
  line-height: 24px;
  position: relative;
}
.rank_tab li.current {
  color: #fc7101;
}
.rank_tab li.current:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -19px;
  width: 38px;
  height: 7px;
  background-image: url('../../../../style/img/sprite/match_index.png');
  -moz-background-size: 53px auto;
  -o-background-size: 53px auto;
  -webkit-background-size: 53px auto;
  background-size: 53px auto;
  background-position: 0 -392px;
}
.rank_tab li:active {
  color: #fc7101;
}

/*# sourceMappingURL=match.css.map */
