@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}

article, aside, blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
  line-height: 1.5;
  font-size: 13px;
  color: #000;
  font-weight: 400;
}

body, html {
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: 100%;
}

a {
  text-decoration: none;
  background: 0 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

a:active {
  outline: 0;
}

li {
  list-style: none;
}

b, strong {
  font-weight: 700;
}

fieldset, img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  height: 0;
}

pre {
  overflow: auto;
}

legend {
  border: 0;
  padding: 0;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em, i {
  font-style: normal;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

button, input, optgroup, option, select, textarea {
  font: inherit;
  outline: 0;
  border: 0;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

button, input[type=button], input[type=reset], input[type=submit] {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  background: 0 0;
}

input[type=search], input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input:focus, select:focus, textarea:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #666;
}

img {
  display: inline-block;
}

.none {
  display: none !important;
}

@media screen and (max-width: 319px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 102.4px;
  }
}
@media screen and (min-width: 400px) and (max-width: 411px) {
  html {
    font-size: 106.66667px;
  }
}
@media screen and (min-width: 412px) and (max-width: 413px) {
  html {
    font-size: 109.86667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 110.4px;
  }
}
/*===========================================
		项目: 腾讯视频无心法师
		作者: faycheng
		日期: 2017-09-04
		作用: 按钮
===========================================*/
.mod_btn {
  position: relative;
  display: block;
  text-align: center;
  background: rgba(180, 129, 255, 0.12);
  vertical-align: top;
  color: #fff;
  background-clip: padding-box;
  font-size: 15px;
  height: 44px;
  line-height: 42px;
  width: 225px;
  border-radius: 22px;
  box-sizing: border-box;
  overflow: hidden;
}

.mod_btn:after {
  content: "";
  position: absolute;
  top: -12px;
  bottom: -12px;
  left: 0;
  right: 0;
}

.mod_btn.active, .mod_btn:not(.disabled):not(:disabled):active {
  opacity: 0.7;
}

.mod_btn.disabled, .mod_btn:disabled {
  opacity: 0.4;
}

.mod_btn_wrap {
  padding: 0 15px;
}

.mod_btn_s {
  font-size: 13px;
  width: 71px;
  height: 25px;
  line-height: 25px;
  color: #61531d;
  background-color: #f0c866;
}

.mod_btn_l {
  width: auto;
  padding: 0 20px;
  color: #61531d;
  background-color: #f0c866;
}

.mod_btn_outline {
  background-color: transparent;
  border: 1px #f0c866 solid;
  color: #f0c866;
  line-height: 23px;
}

/*===========================================
		项目: 腾讯直播
		作者: faycheng
		日期: 2017-02-17
		作用:
===========================================*/
.mod_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.mod_popup.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.mod_popup_content {
  width: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
.popup_guide .title {
  width: 166px;
  height: 17px;
  background-image: url('../../../style/img/sprite/moka.png');
  -moz-background-size: 399px auto;
  -o-background-size: 399px auto;
  -webkit-background-size: 399px auto;
  background-size: 399px auto;
  background-position: 0 -298px;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -83px;
}
.popup_guide .mod_btn {
  background-color: #f9285e;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  width: auto;
  padding: 0 24px;
  margin-top: 30px;
  overflow: inherit;
}
.popup_guide .mod_btn.show {
  -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 0.5s;
  opacity: 1;
}
.popup_guide .dialog1 {
  width: 383.5px;
  height: 85.5px;
  background-image: url('../../../style/img/sprite/moka.png');
  -moz-background-size: 399px auto;
  -o-background-size: 399px auto;
  -webkit-background-size: 399px auto;
  background-size: 399px auto;
  background-position: 0 0;
  position: relative;
  margin-left: -148px;
  margin-top: 20px;
}
.popup_guide .dialog1 p {
  width: 256px;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  position: absolute;
  right: 14px;
  bottom: 11px;
}
.popup_guide .dialog2 {
  width: 397px;
  height: 93.5px;
  background-image: url('../../../style/img/sprite/moka.png');
  -moz-background-size: 399px auto;
  -o-background-size: 399px auto;
  -webkit-background-size: 399px auto;
  background-size: 399px auto;
  background-position: 0 -90.5px;
  position: relative;
  margin-top: -35px;
  margin-left: 148px;
}
.popup_guide .dialog2 p {
  width: 286px;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  position: absolute;
  left: 14px;
  bottom: 13px;
}
.popup_guide .emoji_smile {
  display: inline-block;
  width: 15px;
  height: 14px;
  background-image: url('../../../style/img/sprite/moka.png');
  -moz-background-size: 399px auto;
  -o-background-size: 399px auto;
  -webkit-background-size: 399px auto;
  background-size: 399px auto;
  background-position: 0 -279px;
}
.popup_guide .dialog3 {
  width: 399px;
  height: 85px;
  background-image: url('../../../style/img/sprite/moka.png');
  -moz-background-size: 399px auto;
  -o-background-size: 399px auto;
  -webkit-background-size: 399px auto;
  background-size: 399px auto;
  background-position: 0 -189px;
  position: relative;
  margin-top: -26px;
  margin-left: -105px;
}
.popup_guide .dialog3 p {
  width: 290px;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  position: absolute;
  right: 14px;
  bottom: 13px;
}

.content {
  opacity: 0;
  font-size: 0;
}

.content.show {
  animation: fadeIn .5s forwards;
}

/*# sourceMappingURL=index.css.map */
