html{-webkit-text-size-adjust:100%;text-size-adjust:100%;-webkit-tap-highlight-color:transparent}
article,aside,blockquote,body,button,code,dd,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
*,:after,:before{box-sizing:border-box}
body{font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif;line-height:1.5;font-size:14px;color:#000;font-weight:300}
h1,h2,h3,h4,h5,h6{font-weight:300;font-size:100%}
a{text-decoration:none;background:0 0;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;color:#157efb}
a:active{outline:0}
li{list-style:none}
b,strong{font-weight:700}
fieldset,img{border:0}
svg:not(:root){overflow:hidden}
hr{height:0}
pre{overflow:auto}
legend{border:0;padding:0}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
em,i{font-style:normal}
ins{text-decoration:none}
del{text-decoration:line-through}
button,input,optgroup,option,select,textarea{font:inherit;outline:0;border:0;box-sizing:content-box}
button,input[type=button],input[type=reset],input[type=submit]{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;appearance:none;background:0 0}
input[type=search],input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;appearance:none}
input:focus,select:focus,textarea:focus{outline:0;-webkit-tap-highlight-color:transparent}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#b0bac6}
img{display:block}
em{color:#ff862b}
.mod_border_b:after{border-bottom:1px solid #f3f3f3;content:'';display:block;width:100%;position:absolute;left:0;bottom:0;-webkit-transform-origin:left bottom;transform-origin:left bottom}
.mod_border_t:before{border-top:1px solid #f3f3f3;content:'';display:block;width:100%;position:absolute;left:0;top:0;-webkit-transform-origin:left top;transform-origin:left top}
.mod_border_l:before{border-left:1px solid #f3f3f3;content:'';display:block;bottom:0;position:absolute;left:0;top:0;-webkit-transform-origin:left top;transform-origin:left top}
.mod_border_r:after{border-right:1px solid #f3f3f3;content:'';display:block;bottom:0;position:absolute;right:0;top:0;-webkit-transform-origin:right top;transform-origin:right top}
.mod_border_b,.mod_border_l,.mod_border_r,.mod_border_t{position:relative}
.mod_border:after{content:"";width:100%;height:100%;position:absolute;top:0;left:0;border:1px solid #f3f3f3;-webkit-transform-origin:0 0;transform-origin:0 0;padding:1px;box-sizing:border-box;z-index:10;pointer-events:none}
.mod_border_radius:after{content:"";width:100%;height:100%;position:absolute;top:0;left:0;border:1px solid #f3f3f3;-webkit-transform-origin:0 0;transform-origin:0 0;padding:1px;box-sizing:border-box;border-radius:4px;pointer-events:none;z-index:10}
@media screen and (-webkit-min-device-pixel-ratio:2){
.mod_border_b:after,.mod_border_t:before{-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.mod_border_l:before,.mod_border_r:after{-webkit-transform:scaleX(.5);transform:scaleX(.5)}
.mod_border:after,.mod_border_radius:after{width:200%;height:200%;-webkit-transform:scale(.5);transform:scale(.5)}
.mod_border_radius:after{border-radius:8px}
}
@media screen and (-webkit-min-device-pixel-ratio:3){
.mod_border_b:after,.mod_border_t:before{-webkit-transform:scaleY(.3333);transform:scaleY(.3333)}
.mod_border_l:before,.mod_border_r:after{-webkit-transform:scaleX(.3333);transform:scaleX(.3333)}
.mod_border:after,.mod_border_radius:after{width:300%;height:300%;-webkit-transform:scale(.3333);transform:scale(.3333)}
.mod_border_radius:after{border-radius:12px}
}
.mod_btn{position:relative;display:inline-block;text-align:center;background-color:#ff7215;vertical-align:top;color:#fff;background-clip:padding-box;font-size:14px;height:30px;line-height:30px;padding:0 12px;border-radius:30px;box-sizing:border-box;overflow:hidden}
.mod_btn:after{content:"";position:absolute;top:-12px;bottom:-12px;left:0;right:0}
.mod_btn.active,.mod_btn:not(.disabled):not(:disabled):active{opacity:.7}
.mod_btn.disabled,.mod_btn:disabled{opacity:.4}
.mod_btn_outline{color:#ff7215;background-color:transparent;border:1px #ff7215 solid}
.mod_btn_outline.disabled,.mod_btn_outline:disabled{color:#b0bac6;background-color:transparent;border-color:#b0bac6}
.mod_btn_lg{display:block;width:100%;height:40px;line-height:40px}
.mod_btn_wrap{padding:0 15px}
.mod_btn_whole{border-radius:0;font-size:15px;display:block;width:100%;height:55px;line-height:55px;position:fixed;bottom:0;left:0;z-index:9}
.mod_form{margin-top:10px}
.mod_form_content{background:$panel-bg}
.mod_form_item{margin-left:20px;display:-webkit-box;display:-webkit-flex;display:flex;position:relative}
.mod_form_item input,.mod_form_item textarea{width:100%;background:0 0;color:$txt-default}
.mod_form_item textarea{display:block;line-height:24px;padding-top:26px;margin-bottom:35px}
.mod_form_item label{text-align:left;display:block;width:94px;height:50px;line-height:50px}
.mod_form_pure .mod_form_item label{width:66px}
.mod_form_item input{height:50px;-webkit-box-flex:1;-webkit-flex:1;flex:1}
.mod_form_info{width:100%;-webkit-box-flex:1;-webkit-flex:1;flex:1;color:#b0bac6;padding:10px 0}
.mod_form .mod_btn_outline{width:96px;position:absolute;right:10px;top:50%;margin-top:-15px}
.mod_form .mod_btn_lg{margin-top:30px;margin-bottom:45px}
.mod_form .mod_tips{margin-top:60px}
.mod_form_item_link{position:relative}
.mod_form_item_link:before{content:'';display:block;width:6px;height:13px;background:url(data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAaBAMAAABx1KBSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURQAAAMzMzMzMzM3NzczMzMzMzMvLy8zMzCgzKc4AAAAIdFJOUwD9vSaS5UxuFD2khQAAAFhJREFUCNdjcGIAA0UFMGUqAqbYBAvAdKIYmGIRNYAoCgZTTEJgijnQAUwbikP1JIDpQmFkRYYiEKVg402FkIxhghjqCFbODtGcCDaKWdAByS1Ql0HdCQEAOO8IptuoiHUAAAAASUVORK5CYII=);background-size:6px 13px;position:absolute;top:50%;margin-top:-6px;right:15px;pointer-events:none}
.mod_form_text{font-size:16px;margin:32px 0 20px}
.mod_form_info p{clear:both}
.mod_radio{display:inline-block;width:87px}
.mod_radio input{display:inline-block;width:14px;height:14px;position:relative;overflow:visible;border:0;background:0 0;-webkit-appearance:none;appearance:none;outline:0;margin-right:9px;vertical-align:middle;padding:0;margin-top:-2px}
.mod_radio input:before{content:'';display:block;width:14px;height:14px;border:1px solid #d5d5d5;border-radius:13px;background-clip:padding-box;position:absolute;left:0;top:0}
.mod_radio input:checked:after{content:'';display:block;width:6px;height:6px;background:#ff7215;border-radius:6px;position:absolute;left:4px;top:4px}
.mod_tips{text-align:center;margin:0 15px;display:none}
.mod_tips p{line-height:36px;color:#fff;background-color:rgba(0,0,0,.6);margin:auto;text-align:center;border-radius:4px;padding:0 25px;display:inline-block}
.mod_tips.show{display:block}
.mod_toast{position:fixed;width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;top:0;left:0;display:none;z-index:100}
.mod_toast_content{padding:15px;color:#fff;background-color:rgba(0,0,0,.6);margin:auto;text-align:center;border-radius:4px;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column}
.mod_toast.show{display:-webkit-box;display:-webkit-flex;display:flex}
.mod_toast i{margin-bottom:10px}
.mod_toast h4{font-size:14px}
.mod_toast p{font-size:12px}
.mod_loading{width:33px;height:33px;display:block;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAABCBAMAAAAReh3bAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURQAAAP///////////////////////////yN+nV8AAAAIdFJOUwB0KO9IEaPDKri0eQAAAQJJREFUSMftlU0LwjAMhuuweDUyd54Vf4AG5tXK0KsT9V6FnoUh/fvmtM59NIiXHXxvHU+TN2nIhPjUOV+JoGSe56cgERGRBokxEbsfCT4L77S32vO+4+K19i0CmLVvKeWRAnTcCqKU8p4XGqBZgSTCW9Kg9S5I8DF4H3wtfD/+Gp5kx8P7R39kKc0GzHuJJeJG6CSJe4kHYibAAPQSSBIAxoQJbYDJUoBhnPLV/jVgXTpWtaxPZ2TtvUUccev3481a2wwiS8RXdToQ0dynIyzLdXVKiJi2CMT1FzF4H3wt4hIz/aipcPNwcyPnXHj+R0RMg8SEiOePBJ+FdyoWrvm3egPHhEALUypTNAAAAABJRU5ErkJggg==);background-size:auto 33px;-webkit-animation:am_rotate .8s steps(8,end) infinite;position:relative;z-index:1}
@-webkit-keyframes am_rotate{
0%{-webkit-transform:rotate3d(0,0,1,0deg)}
100%{-webkit-transform:rotate3d(0,0,1,360deg)}
}
.mod_loading_black{display:-webkit-flex;-webkit-align-items:center;-webkit-justify-content:center}
.mod_loading_black i{display:block;width:17px;height:17px;background-image:url(/tencentvideo/vstyle/mobile/live/style/images/sprite_loading.png);background-size:auto 17px;-webkit-animation:am_rotate2 1.6s steps(8) infinite;margin:10px}
@-webkit-keyframes am_rotate2{
0%{background-position:0 0}
100%{background-position:-136px 0}
}
.mod_msg{width:100%;height:100%;z-index:99;position:absolute;text-align:center;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;font-size:18px;background-color:#fff}
.mod_msg>i{display:block;margin-bottom:28px}
.mod_msg h3{font-size:18px;color:#b0bac6}
.mod_msg_tips{font-size:13px;color:#b0bac6;margin-top:9px}
.mod_msg_btn{width:264px;margin:75px 56px 0}
.mod_msg_btn button:first-child{margin-bottom:30px}
.mod_msg_btn_one{margin-top:30px}
.mod_msg_btn_one button{width:150px}
.mod_dialog{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;background:rgba(0,0,0,.6);display:none;color:#000}
.mod_dialog.show{display:-webkit-box;display:-webkit-flex;display:flex}
.mod_dialog_content{border-radius:5px;width:290px;background-clip:padding-box;pointer-events:auto;background-color:#fff}
.mod_dialog_body{padding:25px 18px;font-size:16px;line-height:27px;text-align:center}
.mod_dialog_foot{border-bottom-left-radius:5px;border-bottom-right-radius:5px;display:-webkit-box;display:-webkit-flex;display:flex;width:100%;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;height:50px;line-height:50px;position:relative;font-size:16px}
.mod_dialog_foot button{text-align:center;width:100%;background:0 0;display:block;margin:0;position:relative}
.mod_dialog_foot:before{border-top:1px solid #f3f3f3;content:'';display:block;width:100%;position:absolute;left:0;top:0;-webkit-transform-origin:left top;transform-origin:left top}
.mod_dialog_foot button:after{border-right:1px solid #f3f3f3;content:'';display:block;bottom:0;position:absolute;right:0;top:0;-webkit-transform-origin:right top;transform-origin:right top}
.mod_dialog_foot button:active{opacity:.6}
.mod_dialog_foot button:first-child{border-bottom-left-radius:5px}
.mod_dialog_foot button:last-child{border-right:0;border-bottom-right-radius:5px}
.mod_dialog_foot button:last-child:after{content:none}
@media screen and (-webkit-min-device-pixel-ratio:2.0){
.mod_dialog_foot:before{-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.mod_dialog_foot button:after{-webkit-transform:scaleX(.5);transform:scaleX(.5)}
}
@media screen and (-webkit-min-device-pixel-ratio:3.0){
.mod_dialog_foot:before{-webkit-transform:scaleY(.3333);transform:scaleY(.3333)}
.mod_dialog_foot button:after{-webkit-transform:scaleX(.3333);transform:scaleX(.3333)}
}
.mod_label_list{overflow:hidden;margin-bottom:-15px;padding-right:15px}
.mod_label_list li{color:#b0bac6;line-height:40px;height:40px;padding:0 18px;border-radius:20px;display:inline-block;float:left;margin-right:20px;margin-bottom:15px;position:relative}
.mod_label_list li:after{content:"";width:100%;height:100%;position:absolute;top:0;left:0;border:1px solid #b0bac6;-webkit-transform-origin:0 0;transform-origin:0 0;padding:1px;box-sizing:border-box;border-radius:100px;pointer-events:none;z-index:10}
.mod_label_list li.selected,.mod_label_list:not(.disabled) li:active{color:#ff7215}
.mod_label_list li.selected:after,.mod_label_list:not(.disabled) li:active:after{border-color:#ff7215}
.mod_label_list.disabled li{color:#000;height:30px;line-height:30px;padding:0 11px;margin-right:10px}
.mod_label_list.disabled li:after{border-color:#ccc}
@media screen and (-webkit-min-device-pixel-ratio:2){
.mod_label_list li:after{width:200%;height:200%;-webkit-transform:scale(.5);transform:scale(.5)}
}
@media screen and (-webkit-min-device-pixel-ratio:3){
.mod_label_list li:after{width:300%;height:300%;-webkit-transform:scale(.3333);transform:scale(.3333)}
}
.gearArea{font-size:10px;background-color:rgba(0,0,0,.2);display:block;position:fixed;top:0;left:0;width:100%;height:100%;z-index:9900;overflow:hidden;-webkit-animation-fill-mode:both}
.area_ctrl{vertical-align:middle;background-color:#fafafa;color:#555;margin:0;height:auto;width:100%;position:absolute;left:0;bottom:0;z-index:9901;overflow:hidden;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slideInUp{animation:slideInUp .3s;-webkit-animation:slideInUp .3s}
@-webkit-keyframes slideInUp{
from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.area_roll{display:-webkit-flex;width:100%;height:auto;overflow:hidden;background:#fafafa;-webkit-mask:-webkit-gradient(linear,0 50%,0 100%,from(#debb47),to(rgba(36,142,36,0)));-webkit-mask:-webkit-linear-gradient(top,#debb47 50%,rgba(36,142,36,0))}
.area_roll>div{font-size:1.6em;height:10em;float:left;background:#fafafa;position:relative;overflow:hidden;-webkit-flex:1}
.area_roll>div .gear{width:100%;float:left;position:absolute;z-index:9902;margin-top:4em}
.area_roll_mask{padding:0}
.area_grid{position:relative;top:4em;width:100%;height:2em;margin:0;box-sizing:border-box;z-index:0;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#fff}
.area_roll>div:nth-child(3) .area_grid>div{left:42%}
.area_btn{color:#555;font-size:1.6em;line-height:1em;text-align:center;padding:.8em 1em}
.area_btn_box:after,.area_btn_box:before{content:'';position:absolute;height:1px;width:100%;display:block;z-index:15;-webkit-transform:scaleY(.33);transform:scaleY(.33)}
.area_btn_box{display:-webkit-box;-webkit-box-pack:justify;-webkit-box-align:stretch;background:#fafafa;position:relative}
.area_btn_box:before{left:0;top:0;-webkit-transform-origin:50% 20%;transform-origin:50% 20%}
.area_btn_box:after{left:0;bottom:0;-webkit-transform-origin:50% 70%;transform-origin:50% 70%}
.tooth{height:2em;line-height:2em;text-align:center;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden}
.form_textarea{margin-top:0}
.word_count{font-size:12px;color:#b0bac6;position:absolute;right:15px;bottom:12px}
.word_count_warn{color:#ff2e3d}
.upload_container{padding:18px 0}
.upload_box{width:100px;height:56px;color:#b0bac6;border:1px dashed #b0bac6;position:relative;margin-bottom:16px;margin-right:15px;float:left;overflow:hidden}
.upload_box input{height:56px;font-size:180px;color:transparent}
.upload_video{width:100px;height:56px;margin-bottom:16px;margin-right:15px;float:left;background-color:#eff1f4;position:relative}
.upload_video_pic{width:100px;height:56px;background-size:cover;position:relative;z-index:1}
.upload_video:before{content:'';display:block;width:20px;height:20px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAABCBAMAAAAReh3bAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURQAAAP///////////////////////////yN+nV8AAAAIdFJOUwB0KO9IEaPDKri0eQAAAQJJREFUSMftlU0LwjAMhuuweDUyd54Vf4AG5tXK0KsT9V6FnoUh/fvmtM59NIiXHXxvHU+TN2nIhPjUOV+JoGSe56cgERGRBokxEbsfCT4L77S32vO+4+K19i0CmLVvKeWRAnTcCqKU8p4XGqBZgSTCW9Kg9S5I8DF4H3wtfD/+Gp5kx8P7R39kKc0GzHuJJeJG6CSJe4kHYibAAPQSSBIAxoQJbYDJUoBhnPLV/jVgXTpWtaxPZ2TtvUUccev3481a2wwiS8RXdToQ0dynIyzLdXVKiJi2CMT1FzF4H3wt4hIz/aipcPNwcyPnXHj+R0RMg8SEiOePBJ+FdyoWrvm3egPHhEALUypTNAAAAABJRU5ErkJggg==);-webkit-background-size:auto 20px;-webkit-animation:am_rotate .8s steps(8,end) infinite;position:absolute;left:50%;margin-left:-10px;top:50%;margin-top:-10px}
.upload_box:before{content:'';width:1px;height:22px;background:#b0bac6;position:absolute;left:49px;top:17px}
.upload_box:after{content:'';width:22px;height:1px;background:#b0bac6;position:absolute;left:39px;top:27px}
.mod_form_info p{clear:both}
.label_dialog{-webkit-justify-content:flex-end}
.label_dialog .mod_label_list{background-color:#fff;padding:20px 0 5px 20px;width:100%}
.dialog_close{height:44px;line-height:44px;background-color:#fff;padding-right:15px;color:#007aff;width:100%;text-align:right}
.dialog_close:active{color:#7fbcff}
body{background-color:#f1f3f9}
.shoot_action{background-color:#fff;overflow:hidden;margin-bottom:10px;font-size:13px}
.shoot_action_box{margin:30px 80px;height:137px;border:1px #b0bac6 dashed;display:-webkit-flex;-webkit-align-items:center;-webkit-justify-content:center;-webkit-flex-direction:column;color:#b0bac6}
.icon_shoot{width:41px;height:34px;background:url(/tencentvideo/vstyle/mobile/live/style/images/icon_shoot.png);background-size:41px 34px;margin-bottom:10px}
.shoot_example{padding:18px;min-height:130px;font-size:13px;position:relative;background-color:#fff}
.shoot_example h4{font-weight:700;font-size:15px;margin-bottom:6px}
.shoot_example ul{color:#666;line-height:24px;margin-right:160px}
.shoot_example img{position:absolute;top:50%;margin-top:-51px;right:22px}
.support{position:fixed;bottom:0;left:0;width:100%;height:56px;display:-webkit-flex;-webkit-align-items:center;-webkit-justify-content:center;color:#b6b6b6}
.logo_youtu{display:block;width:75px;height:22px;background:url(/tencentvideo/vstyle/mobile/live/style/images/logo_youtu.png);background-size:75px 22px;margin-right:15px}
.icon_expert{display:inline-block;width:25px;height:1px;position:relative;margin-right:13px}
.icon_expert:before{content:'';display:block;width:25px;height:25px;background:url(/tencentvideo/vstyle/mobile/live/style/images/icon_expert.png);background-size:25px 25px;position:absolute;top:-16px}
.icon_success{width:71px;height:81px;background:url(/tencentvideo/vstyle/mobile/live/style/images/icon_success.png);background-size:71px 81px}
.icon_expert_success{width:71px;height:74px;background:url(/tencentvideo/vstyle/mobile/live/style/images/icon_expert_success.png);background-size:71px 74px}
.icon_fail{width:54px;height:73px;background:url(/tencentvideo/vstyle/mobile/live/style/images/icon_fail.png);background-size:54px 73px}
.icon_reject{width:54px;height:73px;background:url(/tencentvideo/vstyle/mobile/live/style/images/icon_reject.png);background-size:54px 73px}
.icon_wait{width:54px;height:73px;background:url(/tencentvideo/vstyle/mobile/live/style/images/icon_wait.png);background-size:54px 73px}
.icon_submit{width:54px;height:73px;background:url(/tencentvideo/vstyle/mobile/live/style/images/icon_submit.png);background-size:54px 73px}
.icon_refresh{width:47px;height:47px;background:url(/tencentvideo/vstyle/mobile/live/style/images/icon_refresh.png);background-size:47px 47px}