html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;-webkit-user-select:none}
*{margin:0;padding:0}
*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}
ol,ul{list-style:none}
body{font-family:PingFangSC-Regular,microsoft yahei,helvetica,sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:500;font-size:1em}
a{color:#222;text-decoration:none;background:0 0}
.none{display:none}
a,button{-webkit-tap-highlight-color:transparent}
a,img{-webkit-touch-callout:none}
a:active,a:hover{outline:0}
b,strong{font-weight:700}
img{border:0}
svg:not(:root){overflow:hidden}
hr{height:0}
pre{overflow:auto}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input{line-height:normal}
input[type=text]{-webkit-appearance:none}
input[type=search]{-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
button,input,option,select,textarea{border:0 none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
button,input[type=button],input[type=submit]{cursor:pointer}
input:focus,select:focus,textarea:focus{outline:0}
button[disabled],input[disabled],select[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner,option::-moz-focus-inner,select::-moz-focus-inner{border:0 none;padding:0}
textarea{overflow:hidden;vertical-align:top}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#979797}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#979797}
legend{border:0;padding:0}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
em,i{font-style:normal}
.none{display:none}
@-webkit-keyframes loading{
from{background-position:0 0}
to{background-position:0 -300px}
}
.container_error,.container_loading{position:fixed;top:0;bottom:0;width:100%;height:100%;z-index:1000;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;display:box;box-orient:horizontal;box-pack:center;box-align:center;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;background-color:rgba(0,0,0,.5)}
.container_loading .loading_content{text-align:center}
.container_loading .icon_loading{display:block;width:27px;height:10px;margin:0 auto 10px;background:url(http://imgcache.gtimg.cn/tencentvideo_v1/vstyle/mobile/v2/style/img/common/loading.png) 0 0 no-repeat;-webkit-background-size:27px 300px;background-size:27px 300px;-webkit-animation:loading 1s steps(30) infinite}
.container_loading .loading_text{margin-top:10px}
body,html{position:relative;width:100%;height:100%;font-weight:500;-webkit-user-select:none;user-select:none;overflow:hidden}
.none{display:none!important}
.page_loading{position:absolute;top:0;bottom:0;width:100%;background:#000;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;display:box;box-orient:horizontal;box-pack:center;box-align:center;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center}
.icon_loadinglogo{display:inline-block;width:92px;height:102px;background:url(/tencentvideo/vstyle/mobile/live/style/images/wlzz/icon_loadinglogo.png) center center no-repeat;background-size:cover;-webkit-animation:loading linear 1s infinite}
.loading_txt{font-size:11px;font-weight:700;color:#fff;margin-top:1px;text-align:center}
@-webkit-keyframes loading{
0%{transform:rotate(0)}
100%{transform:rotate(-360deg)}
}
.music{position:absolute;top:0;right:5px;z-index:4;width:58px;height:58px;-webkit-animation:music linear 3s infinite}
.music_on{-webkit-animation-play-state:running}
.music_off{-webkit-animation-play-state:paused}
@-webkit-keyframes music{
0%{transform:rotate(0) translateZ(0)}
100%{transform:rotate(360deg) translateZ(0)}
}
.icon_music{display:block;width:28px;height:28px;margin:15px;background-image:url(/tencentvideo/vstyle/mobile/live/style/images/wlzz/icon_music.png);background-size:auto 28px;background-repeat:no-repeat;-webkit-transform:translateZ(0)}
.music_on .icon_music{background-position:left center}
.music_off .icon_music{background-position:right center}
.page_video{position:absolute;top:0;bottom:0;width:100%;background:#000}
.video{position:absolute;top:0;left:0;width:100%;height:100%}
.video video{top:0;width:100%;height:100%;object-fit:cover;-webkit-transform:none;transform:none}
.play_confirm_content{position:absolute;top:0;bottom:0;width:100%;background:url(/tencentvideo/vstyle/mobile/live/style/images/wlzz/video_poster.jpg) center center no-repeat;background-size:cover;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;display:box;box-orient:horizontal;box-pack:center;box-align:center;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center}
.confirm_inner{position:relative}
.view_tip{position:absolute;left:50%;top:0;display:block;width:78px;height:60px;background:url(/tencentvideo/vstyle/mobile/live/style/images/wlzz/view_tip.png) center center no-repeat;background-size:cover;-webkit-transform:translate(-39px,-100px);transform:translate(-39px,-100px)}
.icon_play{display:block;width:68px;height:68px;border-radius:50%;background:url(/tencentvideo/vstyle/mobile/live/style/images/wlzz/icon_play.png) center center no-repeat;background-size:cover;-webkit-animation:playLight ease-out 1s infinite alternate;animation:playLight ease-out 1s infinite alternate}
@-webkit-keyframes playLight{
0%{box-shadow:0 0 0 rgba(255,255,255,0),0 0 1px rgba(255,255,255,1) inset}
100%{box-shadow:0 0 30px rgba(255,255,255,.68),0 0 1px rgba(255,255,255,1) inset}
}
@keyframes playLight{
0%{box-shadow:0 0 0 rgba(255,255,255,0),0 0 1px rgba(255,255,255,1) inset}
100%{box-shadow:0 0 30px rgba(255,255,255,.68),0 0 1px rgba(255,255,255,1) inset}
}
.tool_bar{position:fixed;bottom:0;left:0;right:0;z-index:99;height:66px;background:rgba(0,0,0,.6);-webkit-transform:translateZ(0)}
.tool_bar_link{display:block;width:100%;height:100%}
.icon_barlogo{display:inline-block;float:left;margin:4px 0 0 12px;width:85px;height:57px;background:url(/tencentvideo/vstyle/mobile/live/style/images/wlzz/icon_barlogo.png) center center no-repeat;background-size:cover;-webkit-transform:translateZ(0)}
.bar_txt{display:inline-block;float:right;margin:19px 42px 0 0;font-size:16px;line-height:26px;padding:0 10px;color:#fff;border:1px solid #fff}
.finnal_content{position:absolute;top:0;bottom:0;width:100%;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;display:box;box-orient:horizontal;box-pack:center;box-align:center;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center}
.finnal_inner{width:100%;text-align:center;-webkit-transform:translateY(32.5%);transform:translateY(32.5%);-webkit-animation:translateIn linear 3.3s forwards;animation:translateIn linear 3.3s forwards}
.finnal_logo{position:relative;display:inline-block;width:180px;height:121px}
.logo_orange,.logo_white{position:absolute;top:0;left:0;z-index:1;display:block;width:100%;height:100%}
.logo_white{background:url(/tencentvideo/vstyle/mobile/live/style/images/wlzz/finnal_logo.png) center top no-repeat;background-size:100% auto}
.finnal_txt{width:100%;z-index:3;font-size:11px;margin-top:10px;line-height:18px;color:#fff;opacity:0;-webkit-animation:fadeIn linear 3.3s forwards;animation:fadeIn linear 3.3s forwards}
@-webkit-keyframes fadeOut{
0%{opacity:0}
5%{opacity:1}
10%{opacity:0}
15%{opacity:1}
20%{opacity:0}
25%{opacity:1}
30%{opacity:0}
35%,50%{opacity:1}
100%{opacity:0}
}
@-webkit-keyframes translateIn{
0%,50%{transform:translateY(32.5%) translateZ(0)}
100%{transform:translateY(-5%) translateZ(0)}
}
@keyframes translateIn{
0%,50%{transform:translateY(32.5%) translateZ(0)}
100%{transform:translateY(-5%) translateZ(0)}
}
@-webkit-keyframes fadeIn{
0%,50%{opacity:0;-webkit-transform:translateZ(.1)}
100%{opacity:1;-webkit-transform:translateZ(0)}
}
@keyframes fadeIn{
0%,50%{opacity:0;transform:translateZ(.1)}
100%{opacity:1;transform:translateZ(0)}
}
.finnal_txt .txt{margin-bottom:7px}
.finnal_txt .txt_l{font-size:14px}
.btn_line{text-align:center;font-size:0;margin-top:20px;opacity:0;-webkit-animation:fadeIn linear 1s 3.3s forwards}
.btn_action{display:inline-block;margin:0 22px;font-size:12px;line-height:25px;padding:0 7px;color:#fff;border:1px solid #fff}
.share{position:absolute;left:0;top:0;z-index:5;width:100%;height:100%;background:rgba(0,0,0,.6) url(/tencentvideo/vstyle/mobile/live/style/images/wlzz/share_tip.png) top right no-repeat;background-size:auto 80px}
@media screen and (max-height:580px){
.finnal_txt{margin-top:0}
.btn_line{margin-top:15px}
}
@media screen and (max-height:530px){
.finnal_txt{font-size:10px;line-height:16px}
.btn_line{margin-top:12px}
}
@media screen and (max-height:480px){
.tool_bar{height:50px}
.icon_barlogo{width:60px;height:40px}
.bar_txt{margin-top:11px}
.btn_line{margin-top:10px}
}
@media screen and (max-width:360px){
.finnal_logo{width:173px;height:116px}
}
@media screen and (max-width:320px){
.finnal_logo{width:154px;height:104px}
}
@media(orientation:landscape){
.landscape{position:fixed;left:0;top:0;width:100%;height:100%;z-index:1000001;background:#000;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;-webkit-box-align:center;display:-webkit-flex;-webkit-align-items:center;-webkit-justify-content:center;-webkit-flex-direction:column;display:flex;align-items:center;justify-content:center;color:#666;font-size:12px}
.landscape .icon_landscape{display:inline-block;width:67px;height:109px;background-image:url(https://i.gtimg.cn/qqlive/images/20150210/landscape.png);transform:rotate(90deg);-webkit-transform:rotate(90deg);-webkit-animation:rotation 1 .3s .5s ease-in-out both;-webkit-background-size:67px;background-size:67px}
.landscape .text{margin-top:20px}
}
@-webkit-keyframes rotation{
0%{-webkit-transform:rotate(90deg)}
100%{-webkit-transform:rotate(0)}
}