html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;-webkit-user-select:none}
*{margin:0;padding:0}
*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}
ol,ul{list-style:none}
body{font-family:PingFangSC-Regular,microsoft yahei,helvetica,sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:500;font-size:1em}
a{color:#222;text-decoration:none;background:0 0}
.none{display:none}
a,button{-webkit-tap-highlight-color:transparent}
a,img{-webkit-touch-callout:none}
a:active,a:hover{outline:0}
b,strong{font-weight:700}
img{border:0}
svg:not(:root){overflow:hidden}
hr{height:0}
pre{overflow:auto}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input{line-height:normal}
input[type=text]{-webkit-appearance:none}
input[type=search]{-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
button,input,option,select,textarea{border:0 none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
button,input[type=button],input[type=submit]{cursor:pointer}
input:focus,select:focus,textarea:focus{outline:0}
button[disabled],input[disabled],select[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner,option::-moz-focus-inner,select::-moz-focus-inner{border:0 none;padding:0}
textarea{overflow:hidden;vertical-align:top}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#979797}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#979797}
legend{border:0;padding:0}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
em,i{font-style:normal}
.none{display:none}
@-webkit-keyframes loading{
from{background-position:0 0}
to{background-position:0 -300px}
}
.container_error,.container_loading{position:fixed;top:0;bottom:0;width:100%;height:100%;z-index:1000;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;display:box;box-orient:horizontal;box-pack:center;box-align:center;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;background-color:rgba(0,0,0,.5)}
.container_loading .loading_content{text-align:center}
.container_loading .icon_loading{display:block;width:27px;height:10px;margin:0 auto 10px;background:url(http://imgcache.gtimg.cn/tencentvideo_v1/vstyle/mobile/v2/style/img/common/loading.png) 0 0 no-repeat;-webkit-background-size:27px 300px;background-size:27px 300px;-webkit-animation:loading 1s steps(30) infinite}
.container_loading .loading_text{margin-top:10px}
body,html{position:relative;overflow-x:hidden;font-weight:500;-webkit-user-select:none;user-select:none}
.page_speed{line-height:15px;font-size:13px;color:#fff;background-image:url(/tencentvideo/vstyle/mobile/live/style/images/speed_bg.jpg);background-position:top center;background-size:cover}
.speed_wrap{margin:0 20px}
.data_area{position:relative;padding-bottom:15px;border-top:1px solid rgba(255,255,255,.2)}
.data_area:nth-child(0){border-top:none}
.data_area .result{display:none;font-size:13px;color:#f7c967;text-align:center;margin-bottom:20px}
.data_expand .result{display:block}
.result .txt{display:block;color:#999;margin-top:4px}
.data_area .btn_speed{display:block;margin:40px 68px 25px;height:42px;line-height:42px;color:#fff;font-size:16px;text-align:center;border-radius:42px;border:1.5px solid rgba(255,255,255,.7)}
.data_expand .btn_speed{margin-bottom:11px}
.data_area .btn_speed .icon_speed{display:inline-block;font-size:0;width:30px;height:17px;vertical-align:middle;margin:-4px 11px 0 0;background-image:url(/tencentvideo/vstyle/mobile/live/style/images/icon_speed.png);background-repeat:no-repeat;background-size:auto 1rem;background-position:0 0}
.data_area .btn_speeding{color:#f7c967;border:1.5px solid rgba(167,144,96,.7)}
.data_area .btn_speeding .icon_speed{background-position:-31px 0}
.data_area .data_detail{display:none;width:100%;margin-top:5px}
.data_expand .data_detail{display:block}
.data_detail .data_row{display:-webkit-flex;-webkit-flex-flow:row;-webkit-align-items:stretch;-webkit-justify-content:space-between;display:flex;flex-flow:row;align-items:stretch;justify-content:space-between;margin-bottom:5px}
.data_detail .data_row span{display:block;padding:5px 7px;background-color:rgba(255,255,255,.05)}
.data_detail .data_row .label{color:rgba(255,255,255,.5);margin-right:5px;width:40%;max-width:300px;white-space:nowrap}
.data_detail .data_row .info{-webkit-flex:1;flex:1;word-break:break-all}
.data_title{position:relative}
.data_title .title_txt{font-size:16px;line-height:28px;color:#fff;margin-top:15px}
.data_title .btn_arrow{position:absolute;top:6px;right:4px;display:block;width:16px;height:16px;background-color:rgba(255,255,255,.1);border-radius:50%}
.data_title .btn_arrow .arrow_inner{position:absolute;top:4px;left:5px;display:block;width:6px;height:6px;border-top:1px solid rgba(255,255,255,.3);border-left:1px solid rgba(255,255,255,.3);-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}
.data_expand .data_title .btn_arrow .arrow_inner{top:6px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
@media (max-width:350px){
.speed_wrap{margin:0 10px}
}
@media (max-width:320px){
.data_detail .data_row .label{width:42%}
}