html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;-webkit-user-select:none}
*{margin:0;padding:0}
body,html{width:100%;height:100%}
body{font-family:PingFangSC-Regular,microsoft yahei,helvetica,sans-serif;font-size:14px;color:#333}
a{color:#222;text-decoration:none;background:0 0}
.none{display:none!important}
a,button{-webkit-tap-highlight-color:transparent}
a,img{-webkit-touch-callout:none}
a:active,a:hover{outline:0}
img{border:0}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
input{line-height:normal}
input[type=text]{-webkit-appearance:none}
button,input,option,select,textarea{border:0 none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input:focus,select:focus,textarea:focus{outline:0}
button[disabled],input[disabled],select[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner,option::-moz-focus-inner,select::-moz-focus-inner{border:0 none;padding:0}
textarea{overflow:hidden;vertical-align:top}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#b0bac6}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#b0bac6}
body,html{color:#999;position:relative;width:100%;font-weight:500;-webkit-user-select:none;user-select:none}
.mod_feedback{position:relative;background:#f1f3f9}
.form_wrap{position:relative;margin-bottom:10px;background:#fff}
.form_wrap:first-child{padding:11px 0}
.form_title{font-size:14px;line-height:43px;padding:0 0 0 15px}
.form_wrap .form_limite{position:absolute;right:12px;bottom:0;padding:0 5px;font-size:14px;text-align:right;background-color:#fff}
.form_status{padding:16px 17px 0}
.error{color:#ff7215}
.form_list{position:relative;background:#fff;padding:16px 17px}
.list_item{position:relative;padding-left:65px}
.list_item:nth-child(1){border-top:none}
.list_title{position:absolute;left:0;color:#000}
.content{position:relative;color:#333}
.content input,.content select{width:100%}
.feedback_content{position:relative;height:78px;padding:0 17px}
.feedback{width:100%;height:100%;resize:none;text-align:justify}
.feedback_tip{position:absolute;right:15px;bottom:15px;color:#fd3838;font-size:12px}
.form_upload{padding:20px 17px 17px;font-size:0}
.upload_item{display:inline-block;vertical-align:top;width:61px;margin-right:3%;text-align:center;overflow:hidden}
.upload_inner{position:relative;width:100%;height:56px;background:#fff}
.upload{width:100%;position:relative;overflow:hidden;box-sizing:border-box}
.pic{width:100%;height:56px;background:url(/tencentvideo/vstyle/mobile/live/style/images/icon_add.png) no-repeat center center;background-size:cover}
.pic_rotate90{-webkit-transform:rotate(90deg)}
.pic_rotate180{-webkit-transform:rotate(180deg)}
.pic_rotate270{-webkit-transform:rotate(270deg)}
.pic_loading{position:relative;background-image:none}
.pic_loading:before{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:#f1f3f9}
.pic_loading:after{content:"";display:block;position:absolute;top:11px;left:11px;width:38px;height:38px;background-image:url(/tencentvideo/vstyle/mobile/live/style/images/loading.png);-webkit-transform:scale(.5);-webkit-animation:loading 1.6s 0s steps(8) infinite}
@-webkit-keyframes loading{
0%{background-position:0 0}
100%{background-position:-320px 0}
}
.btn_upload{width:100%;height:100%;line-height:32px;border:0 none;background:0 0;position:absolute;left:0;top:0;cursor:pointer;overflow:hidden}
.pic_holder{position:absolute;left:0;top:0;width:100%;height:100%;cursor:pointer;opacity:0}
.pic_holder input{font-size:160px;margin-top:-30px;margin-left:-1830px;cursor:pointer}
.upload_txt{font-size:12px;color:#b0bac6;padding-top:6px}
.form_submit{width:100%;padding:19px 0;text-align:center}
.btn{display:block;width:48%;height:36px;line-height:36px;margin:0 auto;color:#fff;font-size:14px;border-radius:18px;background:#ff7215}
.mod_feedback_result{width:100%;height:100%;display:table;background-color:#fff}
.mod_feedback_result .desc{display:table-cell;vertical-align:middle;text-align:center;font-size:14px;color:#b0bac6}
.pop_hint_simple{position:fixed;left:0;top:360px;right:0;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;z-index:1000;pointer-events:none}
.pop_hint_simple .pop_inner{max-width:250px;min-width:120px;padding:10px 15px;line-height:19px;color:#fff;font-size:14px;text-align:center;background-color:rgba(0,0,0,.63);border-radius:5px;pointer-events:auto}
.pop_layer_preview{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.8)}
.pic_preview{position:absolute;left:0;top:0;width:100%;height:100%;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;-webkit-box-align:center;display:-webkit-flex;-webkit-align-items:center;-webkit-justify-content:center;-webkit-flex-direction:column;display:flex;align-items:center;justify-content:center}
.pic_preview img{max-width:100%;max-height:100%}
.pop_close{position:absolute;right:10px;top:10px;z-index:10;width:45px;height:45px;text-align:center}
.pop_close .icon_close{position:absolute;left:9px;top:7px;width:30px;height:30px;line-height:100;overflow:hidden;background-color:#fff;border-radius:50%;box-shadow:0 0 4px rgba(0,0,0,.5)}
.icon_close:after,.icon_close:before{content:'';position:absolute;top:15px;left:5px;width:20px;height:1px;background-color:#000;-webkit-transform:rotate(45deg)}
.icon_close:after{-webkit-transform:rotate(-45deg)}
.pic_del{position:absolute;top:10px;right:15px;width:40px;height:40px;text-align:center;line-height:30px;border-radius:999em;background-color:rgba(128,128,128,.5)}
.pic_del:after,.pic_del:before{content:'';position:absolute;left:-10px;top:-10px;width:140%;height:140%}
.pic_del .icon_del{display:inline-block;vertical-align:top;margin-top:9px;width:20px;height:21px;background:url(/tencentvideo/vstyle/mobile/live/style/images/icon_del.png) center center no-repeat;background-size:cover}