@charset "UTF-8";
/*===========================================
		项目: 腾讯视频
		作者: blankyu
		日期: 2016-09-20
		作用: 下载 bar
===========================================*/
@-webkit-keyframes txpDownloading {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes txpDownloading {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
.txp_appbar a,
.txp_appbar a:visited {
  color: #222;
  text-decoration: none;
}

.txp_appbar,
.txp_appbar *,
.txp_appbar *:before,
.txp_appbar *:after {
  box-sizing: border-box;
}

/* 播放器底部banner */
.txp_appbar {
  position: relative;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-size: 15px;
  font-family: PingFangSC-Regular,"Helvetica Neue",tahoma,arial,sans-serif;
}

.txp_appbar .txp_app_btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  color: #222;
}

.txp_appbar .txp_btn_text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 46px;
}

.txp_appbar .txp_app_logo {
  display: inline-block;
  width: 25px;
  height: 100%;
  vertical-align: top;
  background: url(http://i.gtimg.cn/qqlive/images/20150608/logo_square.png) right center no-repeat;
  background-size: contain;
}

.txp_appbar .txp_btn_text:after {
  display: inline-block;
  max-width: 80%;
  padding: 0 5px;
  content: attr(data-text);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 进度条 */
.txp_appbar .txp_progress {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px;
  width: 85%;
  height: 3px;
  margin: auto;
  overflow: hidden;
  background-color: #e5e5e5;
  border-radius: 999em;
  background-clip: padding-box;
}

.txp_appbar .txp_progress_current {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  height: 3px;
  border-radius: 999em;
  background-color: #ff7000;
}

/* 下载进行中、暂停状态 */
.txp_app_btn[data-status="downloading"] .txp_app_logo,
.txp_app_btn[data-status="pause"] .txp_app_logo {
  display: none;
}

.txp_app_btn[data-status="downloading"] .txp_progress,
.txp_app_btn[data-status="pause"] .txp_progress {
  display: block;
}

.txp_app_btn[data-status="downloading"] .txp_progress_current,
.txp_app_btn[data-status="pause"] .txp_progress_current {
  -webkit-animation: txpDownloading 20s linear both;
  animation: txpDownloading 20s linear both;
}

.txp_app_btn[data-status="pause"] .txp_progress_current {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

/* 文字 */
.txp_appbar .txp_app_btn[data-status="downloading"] .txp_btn_text:after,
.txp_appbar .txp_app_btn[data-status="pause"] .txp_btn_text:after {
  line-height: 34px;
  vertical-align: top;
}

/* 非自动下载进度 */
.txp_nonauto .txp_progress .txp_progress_current {
  width: auto;
  -webkit-animation-name: none;
  animation-name: none;
}

/* 加上看单按钮 */
.txp_appbar_follow .txp_app_btn {
  left: 110px;
  right: 0;
  width: auto;
}

.txp_app_btn_follow {
  position: absolute;
  width: 100px;
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  color: #222;
  text-align: center;
}

.txp_app_btn_follow .txp_follow_text {
  position: absolute;
  width: 100%;
  height: 100%;
}

.txp_app_btn_follow .txp_follow_text:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 100%;
  margin-right: 4px;
  vertical-align: top;
  background: url(img/txp_follow_simple.png) 0 center no-repeat;
  background-size: 40px auto;
}

.txp_app_btn_follow[data-status=followed] .txp_follow_text:before {
  background-position: -20px center;
}

/* banner 上得下载提示 */
.txp_mask_layer {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

/*.txp_appbar_tips{
	position: absolute;
	z-index: 25;
	top: -60px;
	left: 0;
	right: 0;
	padding: 15px;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	font-size: 15px;
	font-family: PingFangSC-Regular,"Helvetica Neue",tahoma,arial,sans-serif;
}
.txp_appbar_tips:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: -16px;
	margin-left: -8px;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-top-color: #fff;
}
.txp_appbar_tips .txp_icon_download{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 5px;
	vertical-align: -6px;
	fill: #ff7000;
}
*/
/* alert */
/*.txp_pop_modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.65);
	z-index: 999999;
	font-family: PingFangSC-Regular,"Helvetica Neue",tahoma,arial,sans-serif;
}
.txp_pop_alert {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	display: block;
	width: 270px;
	margin: auto;
	z-index: 1000;
	background: rgba(235, 235, 235, 0.9);
	border-radius: 5px;
	color: #222;
}
.txp_pop_alert .txp_pop_bd{
	padding-top: 20px;
	background-image: -webkit-linear-gradient(top, transparent, transparent 50%, #A4A4A5 50%, #A4A4A5 100%);
	background-image: linear-gradient(to bottom, transparent, transparent 50%, #A4A4A5 50%, #A4A4A5 100%);
	background-size: 200% 1px;
	background-repeat: repeat-x;
	background-position: 0 bottom;
}
.txp_pop_alert .txp_pop_title {
	position: relative;
	padding: 0px 0 5px;
	text-align: center;
	font-size: 18px;
}
.txp_pop_alert .txp_pop_desc {
	position: relative;
	padding: 0 20px 15px;
	min-height: 60px;
	text-align: left;
	font-size: 15px;
	color: #303032;

	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	-webkit-flex-direction: row;
	
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-flex-direction: row;
}
.txp_pop_alert .txp_pop_btns {
	text-align: center;
	font-size: 0;
}
.txp_pop_alert .txp_pop_btns .txp_pop_btn {
	position: relative;
	display: inline-block;
	width: 50%;
	height: 44px;
	line-height: 44px;
	margin-right: -1px;
	color: #323233;
	font-size: 16px;
	background-image: -webkit-linear-gradient(left, transparent, transparent 50%, #A4A4A5 50%);
	background-image: linear-gradient(to right, transparent, transparent 50%, #A4A4A5 50%);
	background-size: 1px 100% ;
	background-repeat: repeat-y;
	background-position: left center;
	text-decoration: none;
}
.txp_pop_alert .txp_pop_btns .txp_pop_btn:first-child{
	background: none;
}
.txp_pop_alert .txp_pop_btns .txp_pop_btn_em{
	color: #ff7000;
}
.txp_pop_alert .txp_pop_btns .txp_pop_btn_em .txp_btn_inner:before{
	content: attr(data-text);
}*/
/****/
/*.txp_pop_toast{
		position: fixed;
		z-index: 9999;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%,-50%);  
		transform: translate(-50%,-50%);
		min-width: 165px;
		max-width: 90%;
		background: rgba(0,0,0,0.7);
		border-radius: 5px;
}
.txp_pop_toast .txp_pop_bd{
		padding: 12px 25px;
}
.txp_pop_toast .txp_pop_bd .txp_pop_text{
	font-size: 14px;
	line-height: 24px;
		color: #fff;
		text-align: center;
}
.txp_pop_toast .txp_pop_bd .txp_pop_loading{
	display: block;
		margin:10px auto;
		width: 32px;
		height: 32px;
		background-image: url(http://i.gtimg.cn/qqlive/images/20160823/loading_64.gif);
		background-position: center center;
		background-size: cover;
}*/
@media (min-width: 360px) {
  .txp_appbar_follow .txp_app_btn {
    left: 120px;
  }

  .txp_app_btn_follow {
    width: 110px;
  }
}

/*# sourceMappingURL=txp_appbar_simple.css.map */
