@charset "UTF-8";
html{color:#fefefe;background-color:#141414;_text-overflow:ellipsis;-webkit-user-select:none;user-select:none;cursor:default}
*{-webkit-tap-highlight-color:transparent}
*{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 PingFangSC-Regular,Tahoma,Microsoft Yahei,sans-serif;_font-size:62.5%}
h1,h2,h3,h4,h5,h6{font-size:1em}
a{text-decoration:none;cursor:pointer;color:#bbb}
a:active,a:visited,a[tabindex='-1']:focus{outline:0 none}
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){
a:active{background-color:transparent}
}
a:hover{color:#ff5945;outline:0 none}
b,cite,code,em,i,small,th{font-size:1em;font-style:normal;font-weight:500}
button,input,select,textarea{font-size:1em;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;outline:0 none}
button,input[type=button],input[type=submit]{cursor:pointer}
button::-moz-focus-inner,button::-moz-focus-outer,input::-moz-focus-inner,input::-moz-focus-outer{border:0 none;padding:0;margin:0}
input[type=search]{-webkit-appearance:textfield}
input:focus::-webkit-input-placeholder{color:transparent}
input::-ms-clear{display:none}
textarea{resize:vertical;overflow-y:auto}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,iframe,img{border:0 none}
img{display:inline-block;vertical-align:bottom;-ms-interpolation-mode:bicubic}
img::shadow div{border:none!important}
iframe{display:block}
ol,ul{list-style:none}
li{vertical-align:top}
q:after,q:before{content:''}
.cf:after,.cf:before{content:'';display:table}
.cf:after{clear:both}
.cf{*zoom:1}
::-webkit-scrollbar{width:7px;background:0 0}
::-webkit-scrollbar-track{background:0 0}
::-webkit-scrollbar-corner{display:none}
::-webkit-scrollbar-track-piece{background:0 0}
::-webkit-scrollbar-button{display:none}
::-webkit-resizer{display:none}
::-webkit-scrollbar-thumb{background:#42424a;border-radius:4px}
.none{display:none!important}
.mod_top_back{width:60px;height:28px;padding:16px 20px}
.mod_top_back .btn_mod_back{display:block;width:100%;height:100%;line-height:28px;text-indent:21px;color:#999;background:#3b3b45;-webkit-clip-path:polygon(0 14px,8px 0,60px 0,60px 28px,8px 28px,0 14px);clip-path:polygon(0 14px,8px 0,60px 0,60px 28px,8px 28px,0 14px)}
.mod_top_back .btn_mod_back:hover{color:#999;background:#44444f}
.hl{color:#ff7000}
a{color:#202020}
a:hover{color:#ff6428}
.icon{display:inline-block;width:20px;height:20px;color:inherit}
.icon_sm{display:inline-block;width:16px;height:16px}
.icon_lg{display:inline-block;width:36px;height:36px}
.icon_xl{display:inline-block;width:72px;height:72px}
.icon_xs{display:inline-block;width:10px;height:10px}
.icon_l,.icon_xxl,.icon_xxxl{display:inline-block;width:50px;height:50px;color:inherit}
.icon_xxl{width:90px;height:90px}
.icon_xxxl{width:160px;height:160px}
.icon_mark{display:inline-block;width:23px;height:14px}
.svg_icon path,.svg_icon use{fill:currentColor}
.mod_row_loading .mod_bd{min-height:200px}
.mod_row_loading .mod_hd .title_desc{visibility:hidden}
.mod_main{width:100%;height:100%}
.mod_row_box{margin-bottom:20px}
.mod_row_empty{padding-top:250px;height:550px;text-align:center}
.mod_row_empty .icon_xxxl{display:inline-block;color:#ccc}
.mod_row_empty .empty_title{margin:20px 0 5px;color:#999;font-size:22px}
.mod_row_empty .empty_desc{font-size:18px;color:#aaa}
.mod_row_empty .empty_desc a,.mod_row_empty .empty_title a{color:#ff7000}
.mod_pages{margin:40px auto;text-align:center;font-size:0}
.mod_pages a{display:inline-block;min-width:10px;height:30px;margin:0 5px;padding:0 10px;line-height:30px;border:1px solid #d8d8d8;text-align:center;border-radius:2px;font-size:14px;color:#5a5a5a;*vertical-align:top}
.mod_pages a:hover{border-color:#ff7000;color:#ff7000}
.mod_pages .current,.mod_pages .current:hover{background-color:#ff7000;border-color:#ff7000;color:#fff}
.mod_pages .page_prev{margin-right:15px}
.mod_pages .page_next{margin-left:15px}
.mod_pages .disabled{opacity:.5;cursor:default}
.mod_pages .disabled:hover,.mod_pages .page_ellipsis:hover{cursor:default;color:#5a5a5a;border:1px solid #d8d8d8}
.mod_ad{width:100%}
.mod_ad img{width:100%}
.btn_normal{display:inline-block;vertical-align:top;font-size:16px;color:#fff;text-align:center;border-radius:21px;background:#ff6428;background:-webkit-linear-gradient(left,#ff7000 0,#ff4e00 100%);background:linear-gradient(to right,#ff7000 0,#ff4e00 100%)}
.btn_normal:hover{color:#fff;background:#ff7000}
.btn_normal_line{display:inline-block;vertical-align:top;font-size:16px;color:#ff7000;text-align:center;border:1px solid #ff7000;border-radius:21px}
.btn_normal_line:hover{color:#ff6428;border-color:#ff6428}
.btn_disable{background:#ccc!important;box-shadow:none;cursor:default}
.mod_task_top{height:180px;text-align:center;color:#fff;margin-bottom:16px;background:url(../ipad/growth/img/vcoin_task/mod_task_bg.png) center center no-repeat;background-size:cover}
.mod_task_top .top_inner{position:relative;width:100%;padding-top:14px;padding-bottom:27px}
.mod_task_top .top_inner .info{position:relative;display:inline-block;min-width:160px;padding:0 20px}
.mod_task_top .vcoin_num .num{color:#fff;font-size:40px;font-weight:lighter;text-shadow:0 3px 1px rgba(46,46,54,.2)}
.mod_task_top .vcoin_num .icon_vcoin_l{position:relative;vertical-align:bottom;bottom:13px;width:24px;height:24px;margin-left:6px}
.mod_task_top .diamond_num{position:absolute;left:100%;bottom:7px;white-space:nowrap;cursor:pointer;color:#bbb}
.mod_task_top .diamond_num .num{font-size:20px;font-weight:lighter;padding-right:8px}
.mod_task_top .diamond_num .icon_diamond{position:relative;vertical-align:top;top:7px;width:19px;height:19px}
.mod_task_top .btn_get{display:block;width:200px;height:37px;line-height:37px;margin:9px auto 0;font-family:PingFangSC-Medium;color:#fff;font-size:15px;border-radius:18px;background:#ff7000}
.mod_task_top .btn_get:active{background:#ff6428}
.mod_task_top .vstore_link{display:block;width:198px;height:35px;line-height:35px;margin:9px auto 0;font-family:PingFangSC-Medium;color:#ff7000;font-size:15px;border-radius:18px;border:1px solid #ff7000}
.mod_task_top .vstore_link:active{color:#fff;background:#ff7000}
.mod_task_top .desc{font-size:13px;margin-top:14px;color:#979797;opacity:.85;font-family:PingFangSC-Medium}
.mod_task_top .top_action{position:absolute;top:8px;right:19px;font-size:0}
.mod_task_top .top_action .action_link{font-size:14px;color:#979797;opacity:.66}
.mod_task_top .top_action .action_link:active{opacity:1}
.mod_task_top .top_action .gap_line{display:inline-block;width:1px;height:10px;background:#fff;opacity:.1;margin:0 10px}
.mod_task_top .vcoin_num{position:relative}
.mod_task_top .vcoin_anmimate{position:absolute;bottom:0;right:0;display:inline-block;width:24px;height:55px;z-index:1}
.mod_task_top .vcoin_anmimate i{position:absolute;display:inline-block;width:10px;height:10px;opacity:0}
.mod_task_top .anmimate_01{top:2px;left:1px}
.mod_task_top .anmimate_02{top:6px;left:18px}
.mod_task_top .anmimate_03{top:8px;left:0}
.mod_task_top .anmimate_04{top:3px;left:18px}
.mod_task_top .anmimate_05{top:0;left:7px}
.mod_task_top .num_animate{position:absolute;z-index:3;display:inline-block;width:100px;text-align:center;font-size:26px;color:#fff;opacity:0;bottom:15px;right:0;margin-right:-33px;white-space:nowrap}
.active .icon_vcoin_l{-webkit-animation:vcoinMove ease 1s 0s forwards}
.active .anmimate_01{-webkit-animation:anmimate_01 linear .2s 0s 1}
.active .anmimate_02{-webkit-animation:anmimate_02 linear .2s .2s 1}
.active .anmimate_03{-webkit-animation:anmimate_03 linear .2s .4s 1}
.active .anmimate_04{-webkit-animation:anmimate_04 linear .2s .6s 1}
.active .anmimate_05{-webkit-animation:anmimate_05 linear .2s .9s 1}
.active .num_animate{-webkit-animation:numPluse ease-in-out .8s .6s forwards}
@-webkit-keyframes vcoinMove{
0%{-webkit-transform:translate(0,0)}
25%{-webkit-transform:translate(0,-8px)}
50%{-webkit-transform:translate(0,0)}
75%{-webkit-transform:translate(0,-8px)}
100%{-webkit-transform:translate(0,0)}
}
@-webkit-keyframes anmimate_01{
0%{opacity:.5;-webkit-transform:translate(0,0)}
50%{opacity:1}
100%{opacity:.3;-webkit-transform:translate(5px,27px)}
}
@-webkit-keyframes anmimate_02{
0%{opacity:.2;-webkit-transform:translate(0,0)}
100%{opacity:1;-webkit-transform:translate(-8px,20px)}
}
@-webkit-keyframes anmimate_03{
0%{opacity:.2;-webkit-transform:translate(0,0)}
100%{opacity:1;-webkit-transform:translate(8px,20px)}
}
@-webkit-keyframes anmimate_04{
0%{opacity:1;-webkit-transform:translate(0,0)}
100%{opacity:.2;-webkit-transform:translate(-5px,12px)}
}
@-webkit-keyframes anmimate_05{
0%{opacity:.2;-webkit-transform:translate(0,0)}
100%{opacity:1;-webkit-transform:translate(0,18px)}
}
@-webkit-keyframes numPluse{
0%{opacity:0;-webkit-transform:scale(.4);bottom:20px}
50%{opacity:1;-webkit-transform:scale(1)}
100%{opacity:0;-webkit-transform:scale(.4);bottom:30px}
}
.top_simple{height:147px;-webkit-transition:height .5s;transition:height .5s}
.top_simple .vstore_link{display:block}
.top_simple .btn_get,.top_simple .desc{display:none}
.mod_title{margin:0 20px;font-size:0;font-family:PingFangSC-Medium}
.mod_title .title{display:inline-block;font-size:18px;font-weight:400;color:#ededed}
.mod_title .subtitle{margin-left:5px;font-size:14px;color:#979797}
.progress_wrap{margin:0 79px 26px 20px;padding-top:44px}
.progress_wrap .progress_bar{position:relative;width:100%;height:4px;border-radius:4px;background:#222}
.progress_wrap .progress_bar .vcoin_txt{position:absolute;right:-58px;top:-8px;font-size:12px;color:#666}
.progress_wrap .vcoin_step{position:relative;-webkit-transition:width .4s;transition:width .4s}
.progress_wrap .vcoin_step .icon_step_dot{position:absolute;top:-5px;right:-5px;display:inline-block;width:14px;height:14px}
.progress_wrap .vcoin_step .step_tip{position:absolute;top:-29px;right:-22px;display:inline-block;min-width:38px;padding:0 5px;white-space:nowrap;text-align:center;font-size:9px;line-height:15px;color:#fff;background:#ff7000;border-radius:8px}
.progress_wrap .vcoin_step .tip_arrow{position:absolute;top:15px;left:50%;margin-left:-3px;display:inline-block;width:0;height:0;font-size:0;border:4px solid transparent;border-top:4px solid #ff7000}
.progress_wrap .progress_face{display:block;width:100%;height:4px;border-radius:4px;background:#ff6428;background:-webkit-linear-gradient(left,#ff7000 0,#ff4e00 100%);background:linear-gradient(to right,#ff7000 0,#ff4e00 100%)}
.mod_task_tit{font-size:17px;color:#979797;font-family:PingFangSC-Medium;padding-left:20px}
.mod_task_list{font-size:0;margin-bottom:21px}
.mod_task_list .task_item{display:inline-block;vertical-align:top;position:relative;width:50%;height:70px;display:-webkit-inline-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;display:-moz-inline-box;-moz-box-orient:horizontal;-moz-box-pack:center;-moz-box-align:center;display:inline-box;box-orient:horizontal;box-pack:center;box-align:center}
.mod_task_list .task_item .task_img{position:relative;margin-left:20px;display:block;text-align:center;width:40px;height:40px;border-radius:50%}
.mod_task_list .task_item .task_img .icon_task{width:100%;height:100%;border-radius:50%}
.mod_task_list .task_item .task_img .icon_done{position:absolute;bottom:-2px;right:-2px;width:19px;height:19px}
.mod_task_list .task_info{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin-left:12px}
.mod_task_list .task_info .task_tit{font-size:16px;color:#ededed}
.mod_task_list .task_info .task_tit .hl{margin-left:6px}
.mod_task_list .task_info .task_tit .mark_vip{display:inline-block;vertical-align:middle;margin-left:5px;font-size:11px;line-height:15px;color:#fff;padding:0 4px;background:#ff7000;border-radius:1px}
.mod_task_list .task_info .task_desc{font-size:13px;color:#aaa;margin-top:3px;font-family:PingFangSC-Medium}
.mod_task_list .btn_normal,.mod_task_list .btn_normal_line,.mod_task_list .tip{display:block;margin-right:80px;font-size:12px;font-family:PingFangSC-Medium}
.mod_task_list .btn_normal{width:80px;height:35px;line-height:35px;border-radius:18px;background:#ff7000}
.mod_task_list .btn_normal:active{background:#ff6428}
.mod_task_list .btn_normal_line{width:80px;height:35px;line-height:35px;color:#979797;border-radius:18px;background:#222;border:none}
.mod_task_list .btn_normal_line:active{background:#ff7000;color:#fff}
.mod_task_list .tip{color:#bbb;text-align:right}
.mod_task_list .task_item_done .task_img .icon_task{opacity:.3}
.mask_layer{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.65);z-index:999}
.scroll_wrap{position:relative;zoom:1;scrollbar-base-color:#eee;scrollbar-face-color:#ccc;scrollbar-arrow-color:#ccc;scrollbar-3dlight-color:#ccc;scrollbar-highlight-color:#ccc;scrollbar-shadow-color:#ccc;scrollbar-darkshadow-color:#ccc;scrollbar-track-color:#eee}
.scroll_wrap::-webkit-scrollbar{width:4px;background:#eee;width:0;background:0 0}
.scroll_wrap::-webkit-scrollbar-track-piece{background:0 0}
.scroll_wrap::-webkit-scrollbar-button{display:none}
.scroll_wrap::-webkit-scrollbar-thumb{background:#ccc;background:0 0;border-radius:4px}
.mod_pop{position:fixed;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);z-index:1000;background:#222;font-family:PingFangSC-Medium}
.pop_btn_close{position:absolute;top:0;right:0;z-index:2;display:inline-block;width:55px;height:55px;text-align:center;color:#989898}
.pop_btn_close .icon_close_sm{position:relative;margin-top:20px}
.pop_hd{position:relative;height:57px;line-height:57px;text-align:center}
.pop_hd:after{content:'';position:absolute;bottom:0;left:0;display:block;width:100%;height:1px;background:#333;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.pop_hd .title{color:#fff;font-size:18px;font-weight:400;font-family:PingFangSC-Bold}
.pop_bd{text-align:center;color:#333}
.pop_bd .desc{margin-top:15px;margin-bottom:16px;font-size:14px;color:#979797;text-align:center}
.pop_bd .scroll_wrap{margin:0 20px 0 20px;overflow:hidden;overflow-y:auto}
.pop_ft{position:absolute;bottom:26px;left:0;right:0}
.pop_ft .pop_ft_inner{font-size:0;text-align:center}
.pop_ft a{margin:0 15px}
.pop_ft .btn_normal{width:170px;height:34px;line-height:34px;font-size:14px}
.pop_ft .btn_normal_line{width:168px;height:32px;line-height:32px;font-size:14px}
.g_toast{position:fixed;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:80%;height:45px;line-height:45px;background:rgba(0,0,0,.8);border-radius:6px;z-index:1000}
.g_toast_s{padding:0 12px;width:auto;height:35px;line-height:35px;z-index:1000}
.g_toast .title{font-size:14px;color:#fff;text-align:center}
.g_toast .icon_vcoin_sm{margin-left:5px;vertical-align:top;margin-top:11px}
.pop_vb_desc{width:790px;height:555px}
.pop_vb_desc .pop_bd{text-align:left}
.pop_vb_desc .pop_bd .scroll_wrap{height:498px}
.intro_wrap .intro_box{margin-bottom:30px}
.intro_wrap .intro_box .intro_txt{padding:0 15px 0 20px}
.intro_wrap .intro_box .intro_tit{position:relative;display:block;font-size:16px;color:#fff;font-weight:400;margin-bottom:5px;margin-top:16px}
.intro_wrap .intro_box .intro_tit .hl{position:absolute;left:-20px;top:0}
.intro_wrap .intro_box .intro_desc{position:relative;font-size:16px;color:#979797;text-align:justify}
.intro_wrap .intro_box .intro_desc .hl{position:absolute;left:-20px;top:0}
.intro_wrap .intro_box .intro_list{margin-top:15px;font-size:0}
.intro_wrap .intro_box .intro_list .intro_item{display:inline-block;vertical-align:top;width:50%;text-align:center}
.intro_wrap .intro_box .intro_list .intro_item .item_img{width:129px}
.intro_wrap .intro_box .intro_list .intro_item .item_tit{font-size:14px;color:#979797;margin:4px 0 0}
.intro_wrap .intro_box .mod_task_intro{margin-top:5px;font-size:0}
.intro_wrap .intro_box .mod_task_intro .task_item{position:relative;display:inline-block;vertical-align:top;width:50%;padding:10px 0}
.intro_wrap .intro_box .mod_task_intro .task_item .icon_task{position:absolute;top:10px;left:0;width:40px;height:40px}
.intro_wrap .intro_box .mod_task_intro .task_item .task_tit{margin-left:50px;line-height:40px;font-size:16px;color:#fff}
.intro_wrap .intro_box .mod_task_intro .task_item .task_tit .hl{margin-left:4px}
.pop_spend_list{width:790px;height:555px}
.pop_spend_list .pop_bd{text-align:left}
.pop_spend_list .pop_bd .scroll_wrap{height:498px}
.spend_wrap .mod_spend_list .spend_item{position:relative;padding:22px 0}
.spend_wrap .mod_spend_list .spend_item:after{content:'';position:absolute;bottom:0;left:0;display:block;width:100%;height:1px;background:#333;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.spend_wrap .mod_spend_list .spend_item:last-child:after{display:none}
.spend_wrap .mod_spend_list .spend_item .spend_tit{font-size:16px;color:#fff;margin-bottom:1px}
.spend_wrap .mod_spend_list .spend_item .spend_desc{font-size:14px;color:#979797}
.spend_wrap .mod_spend_list .spend_item .cost,.spend_wrap .mod_spend_list .spend_item .hl{position:absolute;right:0;top:50%;transform:translateY(-50%);font-size:16px}
.spend_wrap .mod_spend_list .spend_item .cost{color:#1ab20f}
.pop_task_intro{width:460px;height:auto}
.pop_task_intro .task_intro_wrap{text-align:center;padding:59px 50px 31px}
.pop_task_intro .task_intro_wrap .task_img{position:relative;display:inline-block;width:52px;height:52px}
.pop_task_intro .task_intro_wrap .task_img .icon_task{width:52px;height:52px}
.pop_task_intro .task_intro_wrap .task_img .icon_done{position:absolute;bottom:-4px;right:-9px;width:30px;height:30px}
.pop_task_intro .task_intro_wrap .task_tit{font-size:16px;color:#fff;margin:6px 0 8px}
.pop_task_intro .task_intro_wrap .task_desc{font-size:14px;color:#999}
.pop_task_intro .task_intro_wrap .qr_code{margin-top:27px}
.pop_task_intro .task_intro_wrap .qr_code .qr_img{width:143px;height:143px}
.pop_task_intro .task_intro_wrap .qr_code .qr_desc{font-size:14px;color:#bbb;margin-top:6px}
.pop_task_intro .task_item_done .task_img .icon_task{opacity:.3}
.pop_task_intro .pop_ft{position:relative;bottom:0;background:#222;padding:0 0 26px;margin-top:8px}
.container_nothing{position:absolute;width:100%;height:100%;top:0;bottom:0;color:#fff;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;display:box;box-orient:horizontal;box-pack:center;box-align:center;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center}
.container_nothing .icon_nothing{display:block;width:115px;height:100px;margin:auto;background:url(../ipad/growth/img/vcoin_task/icon_empty_dark.png);-webkit-background-size:cover;background-size:cover}
.container_nothing .hint_title{margin-top:25px;font-size:18px;opacity:.3;text-align:center}
#faycheng{content:"20171108102057"}