@charset "UTF-8";
/*
*	腾讯视频 M站
*/
/*===========================================
		项目: 腾讯视频
		作者: blankyu
		日期: 2013-01-29
		作用: 全站样式reset
===========================================*/
html {
  color: #222;
  background-color: #fff;
  -webkit-text-size-adjust: none !important;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, footer, header, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

body, button, input, select, textarea {
  font: 16px/1.5 PingFangSC-Regular,"Helvetica Neue",tahoma,arial,sans-serif;
  word-wrap: break-word;
  word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

a,
a:visited {
  color: #222;
  text-decoration: none;
  -webkit-touch-callout: none;
}

a:active {
  outline: 0 none;
  -webkit-tap-highlight-color: transparent;
}

strong, em, i {
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
}

input, select, textarea, button {
  font-size: 1em;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

input[type=text]:focus,
textarea:focus {
  outline: 0 none;
}

input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="button"],
textarea,
button {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
iframe {
  border: 0 none;
}

img {
  display: inline-block;
  vertical-align: bottom;
  -webkit-touch-callout: none;
}

iframe {
  display: block;
}

ul, ol {
  list-style: none;
}

li {
  vertical-align: top;
}

/* 清理浮动 */
.cl {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  line-height: 0;
}

.cf:before, .cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.none {
  display: none !important;
}

/*===========================================
		项目: 腾讯视频
		作者: blankyu
		日期: 2014-01-9
		作用: 播放器公用样式：直播组件
===========================================*/
.mod_live_sport {
  width: 100%;
  height: 100%;
  padding: 0;
  color: #fff;
  background-color: #363636;
}

.mod_live_sport .mod_live_headline {
  display: table;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0 none;
  background-image: -webkit-linear-gradient(top, #363636, #363636 50%, #434343 50%, #434343 100%);
  background-image: linear-gradient(to bottom, #363636, #363636 50%, #434343 50%, #434343 100%);
  background-size: 200% 1px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
}

.mod_live_sport .team_title {
  display: table-cell;
  width: 65px;
  padding: 0 3px;
  vertical-align: top;
  text-align: center;
}

.mod_live_sport .team_icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
}

.mod_live_sport .team_name {
  display: block;
  width: 100%;
  max-width: 5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.mod_live_sport .team_score {
  display: table-cell;
  vertical-align: top;
  font-size: 24px;
}

.mod_live_sport .time_board {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  font-size: 13px;
}

.mod_live_sport .board_title {
  display: block;
  font-size: 16px;
  line-height: 28px;
}

.mod_live_sport .mod_live_download_app {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

.mod_live_sport .mod_live_download_app .download_app_inner {
  display: inline-block;
  margin: auto;
  padding: 0 12px;
  line-height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.mod_live_sport .mod_live_download_app .icon_download {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 10px 5px 0 0;
  background: url(http://i.gtimg.cn/qqlive/images/tvp/icon_download.png) 0 0 no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  vertical-align: top;
}

/* 游戏赛事 */
.game_event_headline {
  padding-top: 5px;
  overflow: hidden;
}

.game_event_headline .game_icon {
  float: left;
  width: 45px;
  height: 45px;
  margin: 0 10px 0 10px;
}

.game_event_headline .game_title {
  float: left;
}

.game_event_headline .game_name,
.game_event_headline .game_desc,
.game_event_headline .game_status {
  display: block;
  max-width: 10em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.game_event_headline .game_name {
  font-size: 15px;
}

.game_event_headline .game_desc {
  max-width: 12em;
  margin-top: 2px;
  font-size: 11px;
  color: #898989;
}

.game_event_headline .game_status {
  float: right;
  margin-right: 20px;
  line-height: 45px;
  max-width: 5em;
  font-size: 15px;
  color: #FF7F00;
}

/* 播放按钮 */
.mod_live_sport .mod_live_play {
  margin-top: 30px;
}

.mod_live_sport .mod_live_play .btn_play {
  display: block;
  width: 60px;
  height: 45px;
  margin: auto;
  left: 50%;
  top: 50%;
  line-height: 45px;
  text-align: center;
  background: rgba(26, 26, 26, 0.6) url(http://i.gtimg.cn/qqlive/images/tvp/icon_play.png) center no-repeat;
  -webkit-background-size: 22px;
  background-size: 22px;
}

.mod_live_sport .mod_live_tips {
  display: block;
  text-align: center;
  padding-top: 30px;
  font-size: 15px;
}

.mod_live_sport .live_tips_inner {
  display: inline-block;
  margin: auto;
  padding: 0 12px;
  line-height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.mod_live_sport .none {
  display: none !important;
}

.btn_em_big {
  display: block;
  margin: 20px 10px 0;
  line-height: 42px;
  background-color: #FF890B;
  background: #FF8C1C;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.btn_em_big .btn_inner {
  color: #fff;
}

/*===========================================
	project: html5 player 播放来源选择
	author:  blankyu
	date:	 20130823
===========================================*/
/* 视频来源选择 */
.tvp_source {
  position: absolute;
  z-index: 100;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 30px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  background-color: rgba(26, 26, 26, 0.6);
}

.tvp_source_button {
  height: 30px;
}

.tvp_source_button .tvp_text {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  line-height: 30px;
  font-size: 14px;
  vertical-align: top;
}

/*.tvp_source .tvp_source_list:after,*/
.tvp_source_button .tvp_text:after {
  content: '';
  position: absolute;
  right: 0;
  top: 12px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: none;
  border-top-color: #fff;
  -webkit-transition: -webkit-transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
}

.tvp_source .tvp_source_list {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 31px;
  width: 110px;
  margin-left: -55px;
  border-radius: 2px;
  /*background-color: rgba(18,18,18,.9);*/
  background-color: rgba(26, 26, 26, 0.8);
}

.tvp_source_list ul {
  max-height: 148px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.tvp_source_list li {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 34px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tvp_source_list li {
  background: -webkit-linear-gradient(top, transparent 0%, transparent 50%, rgba(255, 255, 255, 0.1) 50%) 0 bottom no-repeat;
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
}

.tvp_source_list li:last-child {
  background: none;
}

.tvp_source_list li:hover,
.tvp_source_list li:active {
  background-color: #fff;
  background-color: rgba(26, 26, 26, 0.8);
}

/*.tvp_source .tvp_source_list:after{
	bottom: -5px;
	left: 50%;
	margin-left: -3px;
	border-bottom-color: rgba(18,18,18,.9);
}*/
.tvp_source.tvp_open .tvp_source_list {
  display: block;
  z-index: 100;
}

.tvp_source.tvp_open .tvp_source_button .tvp_text:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

html,
body {
  width: 100%;
  background-color: #FFFFFF;
  -webkit-text-size-adjust: none !important;
  /*background-color: #f00;*/
  color: #fff;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
}

a {
  color: #fff;
}

.container {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.container_page {
  padding-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.6);
}

.mod_box {
  position: relative;
  margin: 0;
  padding: 30px 15px;
  /*background-color: rgba(0, 0, 0, 0.6);*/
}

.mod_box .mod_title {
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: normal;
}

.svg_icon path,
.svg_icon use {
  fill: currentColor;
}

.page_bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  /*display: none;*/
}

.page_bg .canvas_blur {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background-color: #575154;
  will-change: auto;
  -webkit-transform: translateZ(0);
  -webkit-transition: all ease 0.2s;
}

.page_bg .pic_blur {
  display: none;
}

.page_bg .svg_blur {
  display: none;
}

.mod_top1 {
  display: none !important;
}

/* 用户 */
.share_author {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 30px 0 24px;
  text-align: center;
}

.share_author .avatar {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  margin: auto;
  border-radius: 50%;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.2);
}

.share_author img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.share_author .author_name {
  display: block;
  margin: 10px auto 4px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
}

.share_author .share_desc {
  display: block;
  font-size: 14px;
  opacity: 0.6;
}

.share_author .icon_v {
  position: absolute;
  bottom: 0;
  right: 4px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../../img/club/icon_v.png) center center no-repeat;
  background-size: 100%;
}

/* 分享图片 */
.share_pics {
  margin: 0;
  padding: 1px;
  font-size: 0;
  letter-spacing: -1px;
  /*background-color: rgba(0, 0, 0, 0.6);*/
}

.share_pics:empty {
  display: none;
}

.pic_item {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  /*min-height: 100px;*/
  margin: 0;
  padding: 1px;
  vertical-align: top;
  overflow: hidden;
  background: url(../../img/club/imgholder.png) center center no-repeat;
  background-size: 79px 73px;
  /*border-bottom: 1px solid #fff;*/
}

.pic_item:before {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 113.3%;
}

.pic_item:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*border-bottom: 1px solid #fff;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 分享正文 */
.share_content {
  position: relative;
  padding: 28px 15px 15px;
  /*text-align: center;*/
  /*background-color: rgba(0, 0, 0, 0.6);*/
}

.share_content .content {
  font-size: 16px;
  line-height: 23px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

.share_content .pic_item {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100px;
  margin: 0;
  vertical-align: top;
  overflow: hidden;
  background: #DDDEDF url(../../img/club/imgholder.png) center center no-repeat;
  border-bottom: 1px solid #fff;
  -webkit-background-size: 50px;
  background-size: 50px;
}

/* 星星评分 */
.share_stars {
  position: relative;
  text-align: center;
  /*background-color: rgba(0, 0, 0, 0.6);*/
  padding: 0 0 20px;
}

.share_stars .icon_star {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.share_stars .icon_star {
  color: rgba(128, 128, 128, 0.5);
}

.share_stars .icon_star_fill {
  color: #ff7000;
}

.video_info {
  position: relative;
  margin: 15px 15px 8px;
}

.video_info .video_title {
  padding-right: 4em;
  color: #080809;
  line-height: 20px;
  font-size: 15px;
  font-weight: normal;
}

.video_info .video_play,
.video_info .icon_play_24 {
  display: none;
}

.video_info .video_time {
  position: absolute;
  right: 0;
  top: -2px;
  color: #A0A0A0;
}

/* 视频模块 */
.fullscreen .mod_app_top_btn,
.fullscreen .share_content,
.fullscreen .mod_download,
.fullscreen .share_video_title,
.fullscreen .line_gap,
.fullscreen .video_info,
.fullscreen .tvp_promote_banner,
.fullscreen .share_author {
  display: none;
}

.fullscreen .share_video {
  margin: 0;
  padding: 0;
}

.tvp_container .tvp_overlay_poster .tvp_poster_img {
  height: 100%;
  border-radius: 4px;
}

/* 图片放大 */
.preview_pic_wrap {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.preview_pic_wrap .preview_pics {
  -webkit-transform: translateZ(0);
}

.preview_pic_wrap .preview_pics,
.preview_pic_wrap .preview_pics ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.preview_pic_wrap .preview_pics li {
  position: relative;
  display: block;
  height: 100%;
  float: left;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.preview_pic_wrap img {
  max-width: 98%;
  max-height: 100%;
}

.preview_pic_wrap .preview_dots {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}

.preview_pic_wrap .preview_dots li {
  display: inline-block;
  width: 5px;
  height: 5px;
  overflow: hidden;
  margin-right: 5px;
  background-color: #373737;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.preview_pic_wrap .preview_dots .cur {
  background-color: #FBFBFB;
}

/*  内容为空 */
.container_nothing {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  /*background-color: #E8E9E9;*/
  /* android */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  /* chrome、 iOS */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.container_nothing .icon_nothing {
  display: block;
  width: 115px;
  height: 100px;
  margin: auto;
  background: url(../../img/club/icon_empty_dark.png);
  -webkit-background-size: cover;
  background-size: cover;
}

.container_nothing .nothing_hint {
  padding-top: 10px;
}

.container_nothing .hint_title {
  margin-top: 25px;
  font-size: 18px;
  opacity: 0.3;
  text-align: center;
}

@-webkit-keyframes loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -300px;
  }
}
/* loading */
.container_loading,
.container_error {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.container_loading {
  z-index: 3;
}

.container_loading .loading_content {
  text-align: center;
}

.container_loading .icon_loading {
  display: block;
  width: 27px;
  height: 10px;
  margin: 0 auto 10px;
  background: url(../../img/club/loading.png) 0 0 no-repeat;
  -webkit-background-size: 27px 300px;
  background-size: 27px 300px;
  -webkit-animation: loading 1s steps(30) infinite;
}

.container_loading .loading_text {
  margin-top: 10px;
}

/* 出错页面 */
.container_error .error_content {
  text-align: center;
}

.container_error .error_title {
  font-size: 18px;
}

.container_error .error_desc {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.5;
}

.container_error .btn_grey {
  display: block;
  width: 86px;
  height: 35px;
  margin: 30px auto 0;
  line-height: 32px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
}

/* 影视圈介绍 */
/* 播放器 */
.container_page .mod_player {
  margin: 0;
  margin-top: 15px;
  width: auto;
  height: auto;
  border-radius: 4px;
}

.fullscreen .container_page .mod_player {
  margin: 0;
  width: 100%;
  height: 100%;
}

.tvp_titles {
  display: none;
}

.tvp_container .tvp_overlay_poster {
  display: block;
  height: 100%;
  width: 100%;
}

/* 体育 */
.mod_player .mod_live_sport {
  width: 100%;
  height: 180px;
}

/* 更多小视频 */
.mod_box_videolist {
  padding: 15px 0 1px;
}

.mod_box_videolist .mod_title {
  padding-left: 15px;
  margin-bottom: 20px;
}

.mod_box_videolist .share_desc {
  margin: 15px 15px 30px;
  font-size: 14px;
  line-height: 26px;
}

.mod_box_videolist .share_desc:empty {
  margin: 2px;
}

.mod_box_videolist .share_desc:last-child {
  margin-bottom: 25px;
}

.mod_figures_list {
  padding-top: 40px;
  padding-bottom: 1px;
}

.mod_figures_list .mod_figure {
  display: block;
}

.mod_figures_list .mod_figure li {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.mod_figures_list .mod_figure li:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;
  height: 1px;
  background: -webkit-linear-gradient(top, transparent, transparent 50%, rgba(255, 255, 255, 0.1) 50%) 0 top no-repeat;
  background: linear-gradient(to bottom, transparent, transparent 50%, rgba(255, 255, 255, 0.1) 50%) 0 top no-repeat;
  background-size: 100% 1px;
}

.mod_figures_list .mod_figure li:last-child:after {
  background: none;
}

.mod_figures_list .mod_figure .figure {
  position: relative;
  display: block;
  width: auto;
  height: 62px;
  padding: 0px;
}

.mod_figures_list .mod_figure .figure:active {
  outline: 6px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.mod_figures_list .mod_figure .figure_pic {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 110px;
  height: 62px;
  padding: 0px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}

.mod_figures_list .mod_figure .figure_pic img {
  position: absolute;
  top: 50%;
  width: 100%;
  min-height: 62px;
  -webkit-transform: translateY(-50%);
}

.mod_figures_list .mod_figure .figure_info {
  display: block;
  width: 100%;
  padding-left: 120px;
}

.mod_figures_list .mod_figure .figure_title {
  position: relative;
  display: block;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  font-size: 13px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.figure_meta {
  position: absolute;
  left: 120px;
  right: 0px;
  bottom: -2px;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0.5;
}

.figure_meta .meta_author {
  float: left;
  white-space: nowrap;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.figure_meta .meta_author .name {
  display: inline-block;
  max-width: 7em;
  overflow: hidden;
  vertical-align: bottom;
  text-overflow: ellipsis;
}

.figure_meta .meta_info {
  float: right;
  padding: 0 4px;
  font-size: 11px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
}

.meta_info .meta_like {
  margin-right: 15px;
}

.meta_info .num {
  padding-left: 3px;
}

.mod_figures_list .mod_figure .figure_desc {
  display: block;
  height: 30px;
  line-height: 15px;
  margin-top: 3px;
  overflow: hidden;
  font-size: 13px;
}

.none {
  display: none;
}

#mod_down_tenvideo_video_player_0 {
  display: none;
}

.tvp_promote_banner_v2 .tvp_promote_attention {
  display: none;
}

body .tvp_external_layer {
  background: none;
}

.tvp_external_layer .tvp_external_inner .tvp_overlay_play_try {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;
  bottom: 10px;
  width: 78px;
  height: 55px;
  line-height: 50px;
  margin: auto;
  overflow: hidden;
  font-size: 0;
  text-align: center;
  background: rgba(23, 23, 23, 0.9);
  border-radius: 3px;
}

.tvp_external_layer .tvp_external_inner .tvp_overlay_play_try .tvp_button_play {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 31px;
  top: 10px;
  margin: auto;
  overflow: hidden;
  vertical-align: middle;
  border: 20px solid transparent;
  border-width: 12px 21px;
  border-left-color: #fff;
  -webkit-transform: scale(0.9);
}

.tvp_external_layer .tvp_external_inner .tvp_overlay_play_try .tvp_text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 8px;
  line-height: 1;
  font-size: 13px;
  color: #fff;
  text-align: center;
}

/* info 模块 */
.mod_palyer_banner {
  position: relative;
  margin: 15px 15px 15px;
}

.mod_palyer_info .info_pic {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
}

.mod_palyer_info .info_pic img {
  position: absolute;
  top: 50%;
  width: 100%;
  min-height: 100%;
  -webkit-transform: translateY(-50%);
}

.mod_palyer_info .info_pic .pic_item {
  background-color: transparent;
  background-image: none;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.mod_palyer_info .info_pic .pic_item:after {
  padding-bottom: 100%;
}

.mod_palyer_info .info_content {
  margin-left: 50px;
  margin-right: 65px;
}

.mod_palyer_info .info_title {
  font-size: 15px;
  color: #2D2E2F;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mod_palyer_info .info_desc {
  font-size: 13px;
  color: #898989;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon_follow {
  display: block;
  width: 22px;
  height: 20px;
  margin: auto;
  background: url(../../img/club/sprite_icon.png) 0px 0px no-repeat;
  background-size: 65px 20px;
}

.mod_palyer_info .info_follow {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
}

.mod_palyer_info .info_follow:before {
  content: '';
  position: absolute;
  left: -10px;
  height: 40px;
  width: 1px;
  background: -webkit-linear-gradient(left, #CACDD0, #CACDD0 50%, transparent 50%, transparent 100%) left 0 no-repeat;
  -webkit-background-size: 1px 100%;
  background-size: 1px 100%;
}

.mod_palyer_info .btn_follow .icon_text {
  display: block;
  margin-top: 2px;
  letter-spacing: -1px;
}

.mod_palyer_info .btn_follow {
  float: left;
  width: 52px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

.btn_followed .icon_follow {
  background-position: -22px 0;
}

.tvp_external_layer {
  z-index: 100 !important;
}

.mod_player > div {
  position: relative;
}

body .tvp_app_bar {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* 评论 */
.mod_box_comments {
  position: relative;
  padding-top: 40px;
}

.mod_comments_list .item {
  margin-bottom: 12px;
  font-size: 13px;
}

.mod_comments_list .item .author {
  opacity: 0.5;
}

.mod_comments_list .item .author:after {
  content: ':';
  padding: 0 7px 0 2px;
  opacity: 0.5;
}

.more_comment {
  margin-top: 15px;
  font-size: 15px;
  opacity: 0.5;
}

.tvp_app_banner .tvp_app_btn .tvp_app_logo {
  display: none !important;
}

@media (min-width: 780px) {
  .container_page {
    width: 600px;
    margin: auto;
  }
}
.lte_ie8 .container_page,
.page_wide .container_page {
  width: 600px;
  margin: auto;
}

/*  banner */
.tvp_banner {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-direction: row;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 15px 120px 15px 15px;
  /*background-color: rgba(0, 0, 0, 0.7);*/
  background-color: rgba(0, 0, 0, 0.1);
}

.tvp_banner_pic {
  width: 50px;
  height: 70px;
  margin-right: 15px;
}

.tvp_banner_pic img {
  display: block;
  -webkit-object-fit: cover;
  object-fit: cover;
  /*width: 50px;
  height: 70px;*/
  width: 100%;
  height: 100%;
}

.tvp_banner_content {
  /*white-space: nowrap;*/
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
  flex: 1 1;
  overflow: hidden;
}

.tvp_banner_content .tvp_banner_title {
  margin-right: 8px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tvp_banner_content .tvp_banner_duration,
.tvp_banner_content .tvp_banner_desc {
  margin-top: 2px;
  margin-right: 8px;
  font-size: 13px;
  opacity: 0.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tvp_banner_btn {
  position: absolute;
  right: 15px;
  top: 50%;
  width: 100px;
  height: 44px;
  line-height: 44px;
  -webkit-transform: translateY(-50%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  text-align: center;
}

.tvp_banner_btn .tvp_btn_text:after {
  display: block;
  content: attr(data-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mod_app_banner {
  padding: 5px 15px 30px;
  /*background-color: rgba(0, 0, 0, 0.6);*/
}

/*新增语音播放模块*/
.share_audio {
  padding: 0 15px 26px;
  /*background-color: rgba(0, 0, 0, 0.6);*/
}

.share_audio .audio_bar {
  position: relative;
  display: block;
  width: 180px;
  height: 40px;
  margin: 0px auto;
  border-radius: 20px;
  background: #fff;
}

.share_audio .icon_audio_wave {
  position: absolute;
  top: 50%;
  left: 17px;
  margin-top: -8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  color: #b2b2b2;
}

.share_audio .icon_audio_wave svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.share_audio .audio_duration {
  position: absolute;
  top: 9px;
  right: 19px;
  text-align: right;
  font-size: 15px;
  color: #0d0d0d;
}

.share_audio .audio_dot {
  position: absolute;
  top: -4px;
  right: -4px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ff7000;
}

.share_audio .audio_txt {
  font-size: 13px;
  color: #fff;
  text-align: center;
  margin-top: 6px;
}

.active .icon_audio_wave svg {
  display: none;
}

.active .icon_audio_wave {
  background-image: url(../../img/club/audio_wave.png);
  background-size: 50px 16px;
  background-position: 0px 0px;
  -webkit-animation: audio_wave 0.9s steps(3) infinite;
  animation: audio_wave 0.9s steps(3) infinite;
}

.active .audio_dot,
.wave_played .audio_dot {
  display: none;
}

@-webkit-keyframes audio_wave {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -51px 0px;
  }
}
@keyframes audio_wave {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -51px 0px;
  }
}
/* 影片简介 */
.mod_box_intro {
  padding-bottom: 0;
}

.mod_box_intro .mod_hd {
  opacity: 0.5;
}

.mod_box_intro .intro_desc {
  max-height: 9999px;
  transition: max-height 0.2s ease;
}

.mod_box_intro .intro_fold {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.mod_box_intro .intro_desc p {
  display: block;
  margin-bottom: 5px;
}

.mod_box_intro .intro_fold p {
  display: inline;
  margin-bottom: 0;
}

.mod_more .svg_icon_switch {
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  color: #fff;
  transition: transform 0.2s ease;
}

.mod_more.unfold .svg_icon_switch {
  transform: rotate(-180deg);
}

/* alert */
.pop_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.pop_alert {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 270px;
  height: 130px;
  margin: auto;
  z-index: 1000;
}

.pop_alert .pop_inner {
  width: 100%;
  background: #fdfdff;
  border-radius: 5px;
  color: #000;
}

.pop_alert .pop_bd {
  padding-top: 22px;
  background-image: -webkit-linear-gradient(top, transparent, transparent 50%, #f3f3f3 50%, #f3f3f3 100%);
  background-image: linear-gradient(to bottom, transparent, transparent 50%, #f3f3f3 50%, #f3f3f3 100%);
  background-size: 200% 1px;
  background-repeat: repeat-x;
  background-position: 0 bottom;
}

.pop_alert .pop_title {
  position: relative;
  padding: 0px 0 5px;
  text-align: center;
  font-size: 18px;
}

.pop_alert .pop_desc {
  position: relative;
  padding: 0 20px 18px;
  min-height: 60px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #303032;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: row;
}

.pop_alert .pop_btns {
  text-align: center;
  font-size: 0;
}

.pop_alert .pop_btns .pop_btn {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 50px;
  line-height: 50px;
  margin-right: -1px;
  color: #000;
  font-size: 16px;
  background-image: -webkit-linear-gradient(left, transparent, transparent 50%, #f3f3f3 50%);
  background-image: linear-gradient(to right, transparent, transparent 50%, #f3f3f3 50%);
  background-size: 1px 100%;
  background-repeat: repeat-y;
  background-position: left center;
  text-decoration: none;
}

.pop_alert .pop_btns .pop_btn:first-child {
  background: none;
}

.pop_alert .pop_btns .pop_btn_em {
  color: #ff862b;
}

.pop_alert .pop_btns .pop_btn_em .btn_inner:before {
  content: attr(data-text);
}

.share_author {
  padding: 25px 0 19px;
}

.share_author .logo {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 81px;
  height: 17px;
  background: url(../../img/club/logo.png) center center no-repeat;
  background-size: cover;
}

.share_author .avatar {
  width: 56px;
  height: 56px;
}

.share_author .author_name {
  margin: 12px auto 9px;
  font-size: 20px;
}

.share_author .share_desc {
  margin-top: 6px;
}

.share_audio {
  margin-top: -8px;
  padding-bottom: 11px;
}

.share_content:before,
.share_content:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background: rgba(255, 255, 255, 0.3);
}

.share_content:before {
  right: 58%;
}

.share_content:after {
  left: 58%;
}

.share_content {
  position: relative;
  padding: 22px 12px;
  white-space: normal;
  border-radius: 1px;
  background: -webkit-linear-gradient(top, transparent, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 100%) 0 bottom no-repeat, -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 100%) left 0 no-repeat, -webkit-linear-gradient(left, transparent, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 100%) right 0 no-repeat;
  background-size: 100% 2px, 2px 100%, 2px 100%;
}

.share_content .content_quot {
  position: absolute;
  left: 50%;
  top: -7px;
  margin-left: -7px;
  display: block;
  width: 15px;
  height: 15px;
  background: url(../../img/club/icon_quot_star.svg) center center no-repeat;
  background-size: cover;
}

.share_content .topic_txt {
  margin-top: 14px;
  font-size: 15px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.6);
}

.share_content .topic_txt .hl {
  margin-right: 5px;
}

.share_content .topic_txt img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
}

.tvp_banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
}

.meta_tool {
  position: relative;
  padding: 0 18px 31px;
  white-space: nowrap;
  font-size: 0;
  margin-top: 14px;
}

.meta_tool > div {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  font-size: 13px;
  text-align: center;
  opacity: 0.6;
}

.meta_tool .current {
  color: #ff7000;
}

.meta_tool .svg_icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  fill: currentColor;
  vertical-align: -3px;
}

.mod_quan_top {
  position: relative;
  padding: 0 16px;
}

.mod_quan_top:after {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  right: 0px;
  bottom: 0px;
  height: 1px;
  background: #fff;
  opacity: 0.1;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.page_share_topic .container_page {
  padding-bottom: 48px;
}

.hl {
  color: #ff7000;
}

/*话题分享*/
.share_topic {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 57px 12px 17px;
  font-size: 13px;
  line-height: 20px;
}

.share_topic:after {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  right: 0px;
  bottom: 0px;
  height: 1px;
  background: #fff;
  opacity: 0.1;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.share_topic .logo {
  position: absolute;
  top: 20px;
  left: 16px;
  width: 81px;
  height: 17px;
  background: url(../../img/club/logo.png) center center no-repeat;
  background-size: cover;
}

.share_topic .avatar {
  position: absolute;
  top: 57px;
  left: 12px;
  display: block;
  width: 87px;
  height: 87px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

.share_topic .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.share_topic .icon_v {
  position: absolute;
  bottom: 0;
  right: -1px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../../img/club/icon_v.png) center center no-repeat;
  background-size: 100%;
}

.share_topic .topic_info {
  margin-left: 98px;
  height: 87px;
}

.share_topic .topic_title {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  display: block;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.share_topic .topic_title_icon {
  padding-left: 22px;
}

.share_topic .topic_title_icon:before {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0px;
  width: 16px;
  height: 16px;
  background: url(../../img/club/icon_topic.svg) center center no-repeat;
  background-size: 100%;
}

.share_topic .topic_desc {
  color: rgba(255, 255, 255, 0.6);
}

.share_topic .topic_desc span {
  margin-right: 12px;
}

.share_topic .topic_info .hl span {
  margin-right: 5px;
}

.share_topic .topic_txt {
  position: relative;
  padding-left: 35px;
  margin-top: 17px;
}

.share_topic .topic_txt:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 4px;
  width: 20px;
  height: 20px;
  background: url(../../img/club/icon_quot_topic.svg) center center no-repeat;
  background-size: 100%;
}

.mod_topic:before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  right: 0px;
  top: 0px;
  height: 1px;
  background: #fff;
  opacity: 0.1;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.mod_topic_first:before {
  display: none;
}

.mod_author_header {
  position: relative;
  padding: 0 140px 0 40px;
  font-size: 13px;
  min-height: 30px;
  margin-bottom: 5px;
}

.mod_author_header .avatar {
  position: absolute;
  left: 0px;
  top: 0;
  width: 30px;
  height: 30px;
}

.mod_author_header .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.mod_author_header .author {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mod_author_header .desc {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  margin-top: -3px;
}

.mod_author_header .desc .date {
  padding-left: 5px;
}

.mod_author_header .meta_tool {
  position: absolute;
  right: 0;
  top: 6px;
  padding: 0px;
  margin-top: 0px;
}

.mod_author_header .meta_tool:after {
  display: none;
}

.mod_author_header .meta_tool > div {
  width: auto;
}

.mod_author_header .meta_tool .meta_comment {
  margin-left: 20px;
}

.mod_topic_main .topic_tit {
  display: block;
  margin: 8px 0px 6px;
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
}

.mod_topic_main .topic_txt {
  font-size: 15px;
  line-height: 24px;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  word-wrap: break-all;
  word-break: break-all;
}

.mod_topic_main .topic_txt .hl {
  margin-right: 5px;
}

.mod_topic_main .mod_share_pic {
  margin-top: 10px;
}

.mod_empty {
  padding: 22px 15px;
}

.mod_empty:before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  right: 0px;
  top: 0px;
  height: 1px;
  background: #fff;
  opacity: 0.1;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.mod_empty .empty_txt {
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

/*话题页底部固定按钮*/
.mod_fix_btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0px;
  z-index: 10;
  padding: 9px 16px 9px 60px;
  background: rgba(0, 0, 0, 0.8);
}

.mod_fix_btn .avatar {
  position: absolute;
  left: 16px;
  top: 9px;
  width: 30px;
  height: 30px;
}

.mod_fix_btn .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.mod_fix_btn .btn_join_topic {
  display: block;
  height: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  background: #222;
}

.mod_comment {
  padding: 20px 16px 21px;
}

.mod_comment:before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  right: 0px;
  top: 0px;
  height: 1px;
  background: #fff;
  opacity: 0.1;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.mod_comment_first:before {
  display: none;
}

.mod_comment_main {
  margin-left: 40px;
}

.mod_comment_main .comment_txt {
  font-size: 15px;
  line-height: 24px;
}

.comment_message {
  font-size: 13px;
  line-height: 22px;
  margin-top: 4px;
}

.comment_message .reply_label {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 5px;
}

.mod_comment_main .mod_share_pic {
  margin-top: 10px;
  margin-right: 36px;
}

.comment_more {
  margin-top: 6px;
  margin-bottom: -5px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}

/*话题或帖子图片模块*/
.mod_share_pic {
  margin-top: 15px;
}

.mod_pic_list {
  margin: -1px;
}

.mod_pic_list .pic_item {
  float: left;
  padding: 1px;
  overflow: hidden;
  border-radius: 4px;
}

.mod_pic_list .pic_item img {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  display: block;
  width: -webkit-calc(100% - 2px);
  height: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 4px;
  -webkit-object-fit: cover;
  object-fit: cover;
}

.mod_pic_list .pic_item:before,
.mod_pic_list .pic_item:after {
  padding-bottom: 100%;
}

.mod_pic_list_h .pic_item {
  max-width: -webkit-calc(100vw - 199px);
  max-width: calc(100vw - 199px);
}

.mod_pic_list_h .pic_item img {
  position: relative;
}

.mod_pic_list_v .pic_item {
  display: inline-block;
  width: auto;
  height: -webkit-calc(100vw - 199px);
  height: calc(100vw - 199px);
}

.mod_pic_list_v .pic_item img {
  position: relative;
  width: auto;
  height: 100%;
}

.mod_pic_list_h .pic_item:before,
.mod_pic_list_h .pic_item:after,
.mod_pic_list_v .pic_item:before,
.mod_pic_list_v .pic_item:after {
  display: none;
}

.mod_pic_list_2 .pic_item {
  width: 50%;
}

.mod_pic_list_3 .pic_item {
  width: 33.33333%;
}

.mod_pic_list_4 .pic_item {
  width: 50%;
}

.mod_pic_list_4 .pic_item:nth-child(3) {
  float: right;
}

.mod_pic_list_5 .pic_item {
  width: 33.3333%;
}

.mod_pic_list_5 .pic_item:nth-child(1),
.mod_pic_list_5 .pic_item:nth-child(2) {
  width: 50%;
}

.mod_pic_list_6 .pic_item {
  width: 33.3333%;
}

.mod_pic_list_7 .pic_item {
  width: 50%;
}

.mod_pic_list_7 .pic_item:nth-child(3),
.mod_pic_list_7 .pic_item:nth-child(4),
.mod_pic_list_7 .pic_item:nth-child(5) {
  width: 33.3333%;
}

.mod_pic_list_8 .pic_item {
  width: 33.3333%;
}

.mod_pic_list_8 .pic_item:nth-child(4),
.mod_pic_list_8 .pic_item:nth-child(5) {
  width: 50%;
}

.mod_pic_list_9 .pic_item {
  width: 33.3333%;
}

.mod_pic_list_4 .pic_item:nth-child(2):before,
.mod_pic_list_4 .pic_item:nth-child(2):after,
.mod_pic_list_4 .pic_item:nth-child(4):before,
.mod_pic_list_4 .pic_item:nth-child(4):after,
.mod_pic_list_5 .pic_item:nth-child(1):before,
.mod_pic_list_5 .pic_item:nth-child(1):after,
.mod_pic_list_5 .pic_item:nth-child(2):before,
.mod_pic_list_5 .pic_item:nth-child(2):after,
.mod_pic_list_7 .pic_item:nth-child(1):before,
.mod_pic_list_7 .pic_item:nth-child(1):after,
.mod_pic_list_7 .pic_item:nth-child(2):before,
.mod_pic_list_7 .pic_item:nth-child(2):after,
.mod_pic_list_7 .pic_item:nth-child(6):before,
.mod_pic_list_7 .pic_item:nth-child(6):after,
.mod_pic_list_7 .pic_item:nth-child(7):before,
.mod_pic_list_7 .pic_item:nth-child(7):after,
.mod_pic_list_8 .pic_item:nth-child(4):before,
.mod_pic_list_8 .pic_item:nth-child(4):after,
.mod_pic_list_8 .pic_item:nth-child(5):before,
.mod_pic_list_8 .pic_item:nth-child(5):after {
  padding-bottom: 56.25%;
}

/*# sourceMappingURL=quan_v2.css.map */
