html{-webkit-text-size-adjust:none!important;-webkit-tap-highlight-color:rgba(0,0,0,0);word-wrap:break-word;word-break:break-all}
body{-webkit-text-size-adjust:100%!important}
*{margin:0;padding:0}
article,aside,footer,header,nav,section{display:block}
audio,canvas,video{display:inline-block;vertical-align:bottom}
body,button,input,select,textarea{word-wrap:break-word;font:14px/1.5 PingFangSC-Regular,Helvetica Neue,tahoma,arial,sans-serif;word-break:break-word}
h1,h2,h3,h4,h5,h6{font-size:1em}
a,a:visited{-webkit-touch-callout:none;color:#222;text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0);outline:0 none}
em,i,strong{font-size:1em;font-style:normal;font-weight:400}
button,input,select,textarea{font-size:1em}
textarea{overflow:auto;vertical-align:top;resize:vertical}
input[type=text]:focus,textarea:focus{outline:0 none}
button,input[type=button],input[type=reset],input[type=submit],input[type=text],textarea{-webkit-appearance:none;border:none;border-radius:0;outline:0 none;background:0 0;color:inherit;font-family:inherit;font-size:inherit;line-height:inherit}
table{border-collapse:collapse;border-spacing:0}
iframe,img{border:0}
img{-webkit-touch-callout:none;display:inline-block;max-width:100%;vertical-align:bottom}
iframe{display:block}
ol,ul{list-style:none}
li{vertical-align:top}
.cl{display:block;visibility:hidden;width:0;height:0;clear:both;overflow:hidden;line-height:0}
.cf:after,.cf:before{display:table;content:""}
.cf:after{clear:both}
.clear:after{display:block;visibility:hidden;height:0;clear:both;content:"."}
.clear{zoom:1;display:block}
.none{display:none}
.wrapper{position:relative;width:100%;height:100vh;background:url(/tencentvideo/vstyle/mobile/pocket/style/img/bg.png);background-position:50%;background-size:cover}
.windmill{z-index:1;position:absolute;top:0;left:0;width:100%;height:100vh}
.p1{position:absolute;top:575px;left:148px;width:75px;height:133px}
.f1{top:616px;left:178px;width:100px;height:88px}
.f2{position:absolute;top:600px;left:130px;width:100px;height:88px}
.f3{position:absolute;top:572px;left:230px;width:100px;height:177px}
.f4{position:absolute;top:472px;left:230px;width:100px;height:177px}
#faycheng{content:"20190130172543"}