@charset "UTF-8";
/*===========================================
		项目: 腾讯视频
		作者: jacobgong
		日期: 2017-03-23
		作用: 全站样式reset
===========================================*/
html {
  color: #fff;
  background: none;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font: 14px/1.5 PingFangSC-Regular,"Helvetica Neue",tahoma,arial,sans-serif;
  font-weight: 300;
}

article, aside, blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

*, :after, :before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, optgroup, menu, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-size: 100%;
}

a {
  text-decoration: none;
  background: 0 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

a:active {
  outline: 0;
}

li {
  list-style: none;
}

b, strong {
  font-weight: 700;
}

fieldset, img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  height: 0;
}

pre {
  overflow: auto;
}

legend {
  border: 0;
  padding: 0;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em, i {
  font-style: normal;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

button, input, optgroup, option, select, textarea {
  font: inherit;
  outline: 0;
  border: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

button, input[type=button], input[type=reset], input[type=submit] {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  background: 0 0;
}

input[type=search], input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input:focus, select:focus, textarea:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
}

.none {
  display: none;
}

.svg_icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  pointer-events: none;
}

.svg_icon path,
.svg_icon use {
  fill: currentColor;
}

.svg_sprite {
  display: none;
}

/*===========================================
		项目: 腾讯直播
		作者: faycheng
		日期: 2016-12-30
		作用: 弹窗
===========================================*/
.mod_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  color: #fff;
}

.mod_popup.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.mod_popup_header {
  margin-bottom: 10px;
  position: relative;
  margin-top: 20px;
  z-index: 1;
  width: 100%;
  text-align: center;
}
.mod_popup_header h4 {
  font-size: 15px;
  font-weight: 500;
}

.mod_popup_icon_close {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  position: absolute;
  color: #fff;
  top: 0;
  right: 20px;
}

.mod_popup_body {
  font-size: 15px;
  line-height: 24px;
}

body {
  background: #040d1f;
}

.popup_notice {
  background: transparent;
}

.iphone_bg {
  width: 100%;
  height: 100%;
  background: url(../img/effect/iphone.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: zoomIn;
  -webkit-animation-duration: .1s;
  -webkit-animation-delay: 1s;
  z-index: 2;
}

.section_user {
  width: 60px;
  height: 90px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: .1s;
  -webkit-animation-delay: .4s;
}
.section_user .avatar {
  width: 56px;
  height: 56px;
  border-radius: 30px;
  border: 2px rgba(245, 28, 53, 0.8) solid;
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 1;
  transform: translate(-50%, 0);
  left: 50%;
}
.section_user .c1 {
  width: 110px;
  height: 110px;
  position: absolute;
  left: -25px;
  top: -25px;
  background-color: rgba(245, 28, 53, 0.2);
  border-radius: 55px;
}
.section_user .c2 {
  width: 90px;
  height: 90px;
  position: absolute;
  left: -15px;
  top: -15px;
  background-color: rgba(245, 28, 53, 0.3);
  border-radius: 45px;
}
.section_user .c3 {
  width: 70px;
  height: 70px;
  position: absolute;
  left: -5px;
  top: -5px;
  background-color: rgba(245, 28, 53, 0.5);
  border-radius: 35px;
}
.section_user .name {
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  color: #fff;
  background: #f51c35;
  background: -webkit-linear-gradient(45deg, #f51c35, #fa5f37);
  box-shadow: 1.5px 2.598px 6px #fa5f37;
  height: 28px;
  line-height: 28px;
  border-radius: 14px;
  padding: 0 16px;
  margin-top: 60px;
  transform: translate(-50%, 0);
  margin-left: 30px;
}
.section_user .c1 {
  -webkit-animation: zoom 2s 0.3s infinite linear;
}
.section_user .c2 {
  -webkit-animation: zoom 2s 0.2s infinite linear;
}
.section_user .c3 {
  -webkit-animation: zoom 2s 0.1s infinite linear;
}
.section_user .ring {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px #f31e37 solid;
  opacity: .5;
  position: absolute;
  -webkit-animation: zoom 2s infinite linear;
}
.section_user .ring1 {
  top: 14px;
  left: -50px;
  -webkit-animation-delay: .3s;
}
.section_user .ring2 {
  top: 7px;
  left: 107px;
  -webkit-animation-delay: .1s;
}
.section_user .ring3 {
  width: 9px;
  height: 9px;
  top: 44px;
  left: 94px;
  -webkit-animation-delay: .4s;
}
.section_user .dot {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  background-color: #f51c35;
  position: absolute;
  -webkit-animation: zoom 2s infinite linear;
}
.section_user .dot1 {
  top: 28px;
  left: -10px;
  -webkit-animation-delay: .3s;
}
.section_user .dot2 {
  top: -2px;
  right: -10px;
  -webkit-animation-delay: .1s;
}
.section_user .dot3 {
  top: 32px;
  right: -14px;
  -webkit-animation-delay: .6s;
}
.section_user .dot4 {
  top: 68px;
  right: -14px;
  -webkit-animation-delay: .4s;
}
.section_user .cross {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-animation: rotate 2s infinite linear;
}
.section_user .cross:before, .section_user .cross:after {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  border-radius: 2px;
  background-color: #f51c35;
  position: absolute;
  left: 0;
  top: 6px;
}
.section_user .cross:after {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: center;
}
.section_user .cross1 {
  left: -36px;
  top: 9px;
  -webkit-animation-delay: .6s;
}
.section_user .cross2 {
  left: -24px;
  top: -15px;
  -webkit-animation-delay: .1s;
}
.section_user .cross3 {
  right: -26px;
  top: 8px;
  -webkit-animation-delay: .3s;
}
.section_user .cross4 {
  right: -30px;
  top: 79px;
  -webkit-animation-delay: .9s;
}
.section_user .meteor {
  width: 30px;
  height: 18px;
  background-image: url(../img/effect/meteor.png);
  background-size: 30px 18px;
  position: absolute;
  -webkit-animation: star 1s infinite;
  opacity: 0;
}
.section_user .meteor1 {
  left: -150px;
  top: -50px;
  -webkit-animation-delay: .4s;
}
.section_user .meteor2 {
  left: -100px;
  top: -50px;
  -webkit-animation-delay: .6s;
}
.section_user .meteor3 {
  left: -60px;
  top: -50px;
  -webkit-animation-delay: .1s;
}
.section_user .meteor4 {
  left: -30px;
  top: -50px;
  -webkit-animation-delay: .3s;
}
.section_user .meteor5 {
  left: 30px;
  top: -50px;
  -webkit-animation-delay: .1s;
}
.section_user .meteor6 {
  left: 50px;
  top: -20px;
  -webkit-animation-delay: .2s;
}

.section_banner {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
}
.section_banner .banner {
  width: 389px;
  height: 77px;
  background-image: url(../img/effect/banner3.png);
  background-size: 389px auto;
  text-align: center;
  text-shadow: 1px 1.732px 4px #d90012;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}
.section_banner .balloon_list {
  position: absolute;
  width: 90px;
  height: 112px;
  bottom: 68px;
  left: 24px;
}
.section_banner .balloon_list2 {
  transform: scaleX(-1);
  left: inherit;
  right: 24px;
}
.section_banner .balloon1 {
  width: 50px;
  height: 83px;
  background: url(../img/effect/balloon1.png);
  background-size: 50px 83px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  -webkit-animation: balloon1 4s ease-in-out infinite;
  -webkit-transform-origin: center bottom;
}
.section_banner .balloon2 {
  width: 43px;
  height: 107px;
  background: url(../img/effect/balloon2.png);
  background-size: 43px 107px;
  position: absolute;
  bottom: 0;
  left: 6px;
  -webkit-animation: balloon2 4s ease-in-out infinite;
  -webkit-transform-origin: center bottom;
}
.section_banner .balloon3 {
  width: 39px;
  height: 67px;
  background: url(../img/effect/balloon3.png);
  background-size: 39px 67px;
  position: absolute;
  bottom: 0;
  left: 27px;
  -webkit-animation: balloon3 4s ease-in-out infinite;
  -webkit-transform-origin: center bottom;
}
.section_banner .balloon4 {
  width: 34px;
  height: 89px;
  background: url(../img/effect/balloon4.png);
  background-size: 34px 89px;
  position: absolute;
  bottom: 0;
  left: 47px;
  -webkit-animation: balloon4 4s ease-in-out infinite;
  -webkit-transform-origin: center bottom;
}
.section_banner .num {
  font-size: 26px;
}
.section_banner .spotlight_list {
  width: 480px;
  height: 300px;
  position: absolute;
  top: -222px;
  overflow: hidden;
  left: 50%;
  margin-left: -240px;
}
.section_banner .light1, .section_banner .light2 {
  -webkit-animation: light1 3s 1s ease-in-out alternate infinite;
  width: 177px;
  height: 308px;
  background: url(../img/effect/light1.png);
  background-size: 177px 308px;
  bottom: -30px;
  left: 0;
  position: absolute;
  transform-origin: bottom;
  opacity: 0;
}
.section_banner .light2 {
  -webkit-animation: light2 2s 1s ease-in-out alternate infinite;
  left: auto;
  right: 0;
}
.section_banner .light3, .section_banner .light4 {
  -webkit-animation: light1 3s 3s ease-in-out alternate infinite;
  width: 103px;
  height: 220px;
  background: url(../img/effect/light2.png);
  background-size: 103px 220px;
  bottom: -30px;
  left: 0;
  position: absolute;
  transform-origin: bottom;
  opacity: 0;
}
.section_banner .light4 {
  -webkit-animation: light2 2s 3s ease-in-out alternate infinite;
  left: auto;
  right: 0;
}

.page_notice1 .section_banner .banner {
  background-image: url(../img/effect/banner1.png);
  width: 428px;
  height: 87px;
  background-size: 428px 87px;
  text-shadow: 0.5px 0.866px 4px #ff4e00;
  padding-top: 8px;
}

.page_notice1 .section_banner {
  top: 150px;
}

.page_notice1 .section_user .name {
  background: #ffa200;
}

.page_notice2 .section_user .name {
  background: #ffa200;
}

.page_notice1 .section_user .avatar {
  border: 4px solid rgba(255, 162, 0, 0.8);
}

.page_notice1 .section_user .c3 {
  background-color: rgba(255, 162, 0, 0.5);
  -webkit-animation: fadeIn 2s 0.3s infinite linear;
}

.page_notice1 .section_user .c1 {
  display: none;
}

.page_notice1 .section_user .c2 {
  display: none;
}

.page_notice2 .section_user .c1 {
  background-color: rgba(255, 72, 0, 0.2);
}

.page_notice2 .section_user .c2 {
  background-color: rgba(255, 72, 0, 0.3);
}

.page_notice2 .section_user .c3 {
  background-color: rgba(255, 72, 0, 0.5);
}

.page_notice2 .section_user .avatar {
  border-color: rgba(255, 72, 0, 0.8);
}

.page_notice2 .section_user .cross:before, .page_notice2 .section_user .cross:after {
  background-color: #ff4800;
}

.page_notice2 .section_user .cross4 {
  display: none;
}

.page_notice2 .section_user .dot {
  background-color: #ff4800;
}

.page_notice1 .section_banner .balloon_list,
.page_notice2 .section_banner .balloon_list {
  bottom: 85px;
}

.page_notice2 .section_banner .banner {
  background-image: url(../img/effect/banner2.png);
  width: 472px;
  height: 94px;
  background-size: 472px 94px;
  text-shadow: 1.5px 2.598px 6px #ff4e00;
  padding-top: 8px;
}

.page_notice3 .section_banner .banner {
  width: 389px;
  height: 77px;
  background-image: url(../img/effect/banner3.png);
  background-size: 389px auto;
  text-shadow: 1px 1.732px 4px #d90012;
}

.section_text {
  width: 264px;
  height: 74px;
  background: url(../img/effect/text.png);
  background-size: 264px 74px;
  position: absolute;
  top: 208px;
  left: 50%;
  margin-left: -132px;
  z-index: 1;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: .1s;
  -webkit-animation-delay: .4s;
}

.animated {
  -webkit-animation-fill-mode: both;
}

.section_btn {
  font-size: 15px;
  color: #fff;
  background: #ff7000;
  background: -webkit-linear-gradient(left, #fb7121, #fc9126);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0 45px;
  position: absolute;
  bottom: 35px;
  transform: translate(-50%, 0);
  left: 50%;
  z-index: 3;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: .1s;
  -webkit-animation-delay: 1.5s;
}
.section_btn:active {
  background: #fc9126;
}

.section_banner_inner {
  animation-name: fadeInUp;
  animation-duration: 2s;
  animation-delay: 0;
}

.section_firework {
  position: absolute;
  width: 100%;
  left: 0;
  top: 192px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: .1s;
  -webkit-animation-delay: .2s;
}
.section_firework .firework {
  width: 55px;
  height: 66px;
  background-image: url(../img/effect/sprite_firework.png);
  -webkit-background-size: 55px auto;
  -webkit-animation: firework 1s steps(5) infinite;
}
.section_firework .firework2, .section_firework .firework10 {
  -webkit-animation-delay: .5s;
}
.section_firework .firework4 {
  position: relative;
  top: 10px;
  -webkit-animation-delay: .4s;
}
.section_firework .firework5 {
  position: relative;
  top: 12px;
  -webkit-animation-delay: .2s;
}
.section_firework .firework6 {
  position: relative;
  top: 12px;
  -webkit-animation-delay: .1s;
}
.section_firework .firework7 {
  position: relative;
  top: 10px;
  -webkit-animation-delay: .4s;
}

@-webkit-keyframes firework {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -330px;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  40%,80% {
    -webkit-transform: translate3d(0, -3px, 0);
  }
  60%,100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0.8);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    opacity: 0.2;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(0.2) rotate(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.8) rotate(-180deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotate(-360deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes balloon1 {
  0%, 100% {
    -webkit-transform: translateY(0) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateY(-4px) rotate(3deg);
  }
}
@-webkit-keyframes balloon2 {
  0%, 100% {
    -webkit-transform: translateY(0) rotate(2eg);
  }
  50% {
    -webkit-transform: translateY(-5px) rotate(-3deg);
  }
}
@-webkit-keyframes balloon3 {
  0%, 100% {
    -webkit-transform: translate(0, -1px) rotate(2eg);
  }
  50% {
    -webkit-transform: translate(-2px, 4px) rotate(-3deg);
  }
}
@-webkit-keyframes balloon4 {
  0%, 100% {
    -webkit-transform: translate(1px, -1px) rotate(-3eg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(4deg);
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes star {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0) translate3d(100px, 80px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(0) translate3d(150px, 120px, 0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes light1 {
  0% {
    opacity: .5;
    transform: rotate(0);
  }
  100% {
    opacity: .5;
    transform: rotate(45deg);
  }
}
@keyframes light2 {
  0% {
    opacity: .5;
    transform: rotate(0);
  }
  100% {
    opacity: .5;
    transform: rotate(-45deg);
  }
}

/*# sourceMappingURL=showroom_notice.css.map */
