@keyframes moveAni {
  0% {
    transform: translateX(400px); }
  1% {
    transform: translateX(396.54493px); }
  2% {
    transform: translateX(386.76446px); }
  3% {
    transform: translateX(371.53953px); }
  4% {
    transform: translateX(351.74364px); }
  5% {
    transform: translateX(328.22895px); }
  6% {
    transform: translateX(301.81424px); }
  7% {
    transform: translateX(273.27481px); }
  8% {
    transform: translateX(243.33429px); }
  9% {
    transform: translateX(212.65819px); }
  10% {
    transform: translateX(181.84924px); }
  11% {
    transform: translateX(151.44427px); }
  12% {
    transform: translateX(121.91253px); }
  13% {
    transform: translateX(93.65546px); }
  14% {
    transform: translateX(67.00749px); }
  15% {
    transform: translateX(42.23799px); }
  16% {
    transform: translateX(19.55405px); }
  17% {
    transform: translateX(-0.89598px); }
  18% {
    transform: translateX(-19.01835px); }
  19% {
    transform: translateX(-34.76935px); }
  20% {
    transform: translateX(-48.15036px); }
  21% {
    transform: translateX(-59.20276px); }
  22% {
    transform: translateX(-68.00266px); }
  23% {
    transform: translateX(-74.65575px); }
  24% {
    transform: translateX(-79.2921px); }
  25% {
    transform: translateX(-82.06124px); }
  26% {
    transform: translateX(-83.12742px); }
  27% {
    transform: translateX(-82.66515px); }
  28% {
    transform: translateX(-80.85509px); }
  29% {
    transform: translateX(-77.88031px); }
  30% {
    transform: translateX(-73.92289px); }
  31% {
    transform: translateX(-69.16098px); }
  32% {
    transform: translateX(-63.7662px); }
  33% {
    transform: translateX(-57.90148px); }
  34% {
    transform: translateX(-51.7193px); }
  35% {
    transform: translateX(-45.36024px); }
  36% {
    transform: translateX(-38.95202px); }
  37% {
    transform: translateX(-32.60873px); }
  38% {
    transform: translateX(-26.43046px); }
  39% {
    transform: translateX(-20.50318px); }
  40% {
    transform: translateX(-14.89891px); }
  41% {
    transform: translateX(-9.67603px); }
  42% {
    transform: translateX(-4.87987px); }
  43% {
    transform: translateX(-0.54341px); }
  44% {
    transform: translateX(3.31189px); }
  45% {
    transform: translateX(6.67514px); }
  46% {
    transform: translateX(9.54502px); }
  47% {
    transform: translateX(11.92872px); }
  48% {
    transform: translateX(13.84084px); }
  49% {
    transform: translateX(15.30232px); }
  50% {
    transform: translateX(16.33937px); }
  51% {
    transform: translateX(16.98242px); }
  52% {
    transform: translateX(17.26513px); }
  53% {
    transform: translateX(17.22346px); }
  54% {
    transform: translateX(16.8948px); }
  55% {
    transform: translateX(16.31717px); }
  56% {
    transform: translateX(15.52849px); }
  57% {
    transform: translateX(14.566px); }
  58% {
    transform: translateX(13.46565px); }
  59% {
    transform: translateX(12.26167px); }
  60% {
    transform: translateX(10.98617px); }
  61% {
    transform: translateX(9.66882px); }
  62% {
    transform: translateX(8.33669px); }
  63% {
    transform: translateX(7.014px); }
  64% {
    transform: translateX(5.72209px); }
  65% {
    transform: translateX(4.47935px); }
  66% {
    transform: translateX(3.30128px); }
  67% {
    transform: translateX(2.20051px); }
  68% {
    transform: translateX(1.18695px); }
  69% {
    transform: translateX(0.2679px); }
  70% {
    transform: translateX(-0.55177px); }
  71% {
    transform: translateX(-1.2694px); }
  72% {
    transform: translateX(-1.88438px); }
  73% {
    transform: translateX(-2.39791px); }
  74% {
    transform: translateX(-2.81275px); }
  75% {
    transform: translateX(-3.13305px); }
  76% {
    transform: translateX(-3.36406px); }
  77% {
    transform: translateX(-3.51198px); }
  78% {
    transform: translateX(-3.58369px); }
  79% {
    transform: translateX(-3.58659px); }
  80% {
    transform: translateX(-3.52842px); }
  81% {
    transform: translateX(-3.41707px); }
  82% {
    transform: translateX(-3.26044px); }
  83% {
    transform: translateX(-3.0663px); }
  84% {
    transform: translateX(-2.84218px); }
  85% {
    transform: translateX(-2.59527px); }
  86% {
    transform: translateX(-2.33232px); }
  87% {
    transform: translateX(-2.0596px); }
  88% {
    transform: translateX(-1.78285px); }
  89% {
    transform: translateX(-1.50719px); }
  90% {
    transform: translateX(-1.23717px); }
  91% {
    transform: translateX(-0.97674px); }
  92% {
    transform: translateX(-0.72921px); }
  93% {
    transform: translateX(-0.49733px); }
  94% {
    transform: translateX(-0.28324px); }
  95% {
    transform: translateX(-0.08856px); }
  96% {
    transform: translateX(0.0856px); }
  97% {
    transform: translateX(0.23862px); }
  98% {
    transform: translateX(0.37029px); }
  99% {
    transform: translateX(0.48081px); }
  100% {
    transform: translateX(0.57068px); } }

/*# sourceMappingURL=box.css.map */
