@charset "UTF-8";
@-webkit-keyframes txpDownloading{
0%{width:0}
100%{width:90%}
}
@keyframes txpDownloading{
0%{width:0}
100%{width:90%}
}
.txp_appbar a,.txp_appbar a:visited{color:#222;text-decoration:none}
.txp_appbar,.txp_appbar *,.txp_appbar :after,.txp_appbar :before{box-sizing:border-box}
.txp_appbar{position:relative;z-index:10;left:0;width:100%;height:44px;line-height:44px;font-size:15px;font-family:PingFangSC-Regular,"Helvetica Neue",tahoma,arial,sans-serif}
.txp_appbar .txp_app_btn{position:absolute;left:0;top:0;width:100%;height:100%;line-height:1;text-align:center;border-radius:4px;background-color:#fff;border:1px solid #e6e6e6;color:#222}
.txp_appbar .txp_btn_text{position:absolute;left:0;top:0;width:100%;height:100%;line-height:46px}
.txp_appbar .txp_app_logo{display:inline-block;width:25px;height:100%;vertical-align:top;background:url(//i.gtimg.cn/qqlive/images/20150608/logo_square.png) right center no-repeat;background-size:contain}
.txp_appbar .txp_btn_text:after{display:inline-block;max-width:80%;padding:0 5px;content:attr(data-text);overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.txp_appbar .txp_progress{display:none;position:absolute;left:0;right:0;bottom:6px;width:85%;height:3px;margin:auto;overflow:hidden;background-color:#e5e5e5;border-radius:999em;background-clip:padding-box}
.txp_appbar .txp_progress_current{position:absolute;left:0;top:0;max-width:100%;height:3px;border-radius:999em;background-color:#ff7000}
.txp_app_btn[data-status=downloading] .txp_app_logo,.txp_app_btn[data-status=pause] .txp_app_logo{display:none}
.txp_app_btn[data-status=downloading] .txp_progress,.txp_app_btn[data-status=pause] .txp_progress{display:block}
.txp_app_btn[data-status=downloading] .txp_progress_current,.txp_app_btn[data-status=pause] .txp_progress_current{-webkit-animation:txpDownloading 20s linear both;animation:txpDownloading 20s linear both}
.txp_app_btn[data-status=pause] .txp_progress_current{-webkit-animation-play-state:paused;animation-play-state:paused}
.txp_appbar .txp_app_btn[data-status=downloading] .txp_btn_text:after,.txp_appbar .txp_app_btn[data-status=pause] .txp_btn_text:after{line-height:34px;vertical-align:top}
.txp_nonauto .txp_progress .txp_progress_current{width:auto;-webkit-animation-name:none;animation-name:none}
.txp_appbar_follow .txp_app_btn{left:110px;right:0;width:auto}
.txp_app_btn_follow{position:absolute;width:100px;height:100%;border-radius:4px;background-color:#fff;border:1px solid #e6e6e6;color:#222;text-align:center}
.txp_app_btn_follow .txp_follow_text{position:absolute;width:100%;height:100%}
.txp_app_btn_follow .txp_follow_text:before{content:'';display:inline-block;width:16px;height:100%;margin-right:4px;vertical-align:top;background:url(/tencentvideo/txp/style/img/txp_follow_simple.png) 0 center no-repeat;background-size:40px auto}
.txp_app_btn_follow[data-status=followed] .txp_follow_text:before{background-position:-20px center}
.txp_mask_layer{position:fixed;z-index:20;top:0;right:0;left:0;bottom:0;background-color:rgba(0,0,0,.65)}
@media (min-width:360px){
.txp_appbar_follow .txp_app_btn{left:120px}
.txp_app_btn_follow{width:110px}
}
#faycheng{content:"20180111183234"}